#define IDD_DLG1 1000
#define IDC_BTNMODULE 1001
#define VERINF1 1

IDD_DLG1 DIALOGEX 6,6,194,106
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10CF0000
BEGIN
  CONTROL "Module",IDC_BTNMODULE,"Button",0x50010000,126,12,63,21
END

VERINF1 VERSIONINFO
FILEVERSION 0,0,0,7
PRODUCTVERSION 0,0,0,7
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileVersion", "0.0.0.7\0"
      VALUE "ProductVersion", "0.0.0.7\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

