#define IDR_CONTEXT 11000
#define IDM_EDIT_UNDO 10009
#define IDM_EDIT_REDO 10051
#define IDM_EDIT_CUT 10007
#define IDM_EDIT_COPY 10006
#define IDM_EDIT_PASTE 10008
#define IDM_EDIT_DELETE 10010
#define IDM_FORMAT_LOCK 10011
#define IDM_FORMAT_BACK 10012
#define IDM_FORMAT_FRONT 10013
#define IDM_FORMAT_GRID 10014
#define IDM_FORMAT_SNAP 10015
#define IDM_FORMAT_ALIGN_LEFT 10019
#define IDM_FORMAT_ALIGN_CENTER 10020
#define IDM_FORMAT_ALIGN_RIGHT 10021
#define IDM_FORMAT_ALIGN_TOP 10022
#define IDM_FORMAT_ALIGN_MIDDLE 10023
#define IDM_FORMAT_ALIGN_BOTTOM 10024
#define IDM_FORMAT_SIZE_WIDTH 10016
#define IDM_FORMAT_SIZE_HEIGHT 10017
#define IDM_FORMAT_SIZE_BOTH 10018
#define IDM_FORMAT_ALIGN_DLGHCENTER 10043
#define IDM_FORMAT_ALIGN_DLGVCENTER 10044
#define IDM_FORMAT_TABINDEX 10045
#define IDM_FORMAT_AUTOID 10047
IDR_CONTEXT MENUEX
BEGIN
  POPUP "Dialog"
  BEGIN
    MENUITEM "Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "",,0x00000800
    MENUITEM "Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "Lock controls",IDM_FORMAT_LOCK
    MENUITEM "Send to Back",IDM_FORMAT_BACK
    MENUITEM "Bring to Front",IDM_FORMAT_FRONT
    MENUITEM "Show Grid",IDM_FORMAT_GRID
    MENUITEM "Snap to Grid",IDM_FORMAT_SNAP
    MENUITEM "",,0x00000800
    POPUP "Align",10053
    BEGIN
      MENUITEM "Left",IDM_FORMAT_ALIGN_LEFT
      MENUITEM "Center",IDM_FORMAT_ALIGN_CENTER
      MENUITEM "Right",IDM_FORMAT_ALIGN_RIGHT
      MENUITEM "",,0x00000800
      MENUITEM "Top",IDM_FORMAT_ALIGN_TOP
      MENUITEM "Middle",IDM_FORMAT_ALIGN_MIDDLE
      MENUITEM "Bottom",IDM_FORMAT_ALIGN_BOTTOM
    END
    POPUP "Same Size",10054
    BEGIN
      MENUITEM "Width",IDM_FORMAT_SIZE_WIDTH
      MENUITEM "Height",IDM_FORMAT_SIZE_HEIGHT
      MENUITEM "Both",IDM_FORMAT_SIZE_BOTH
    END
    POPUP "Center in Dialog",10055
    BEGIN
      MENUITEM "&Horizontal",IDM_FORMAT_ALIGN_DLGHCENTER
      MENUITEM "&Vertical",IDM_FORMAT_ALIGN_DLGVCENTER
    END
    MENUITEM "Set tabindex",IDM_FORMAT_TABINDEX
    MENUITEM "Auto renumber ID's",IDM_FORMAT_AUTOID
  END
END
