#define IDR_MENU 10000
#define IDM_FILE_NEW_PROJECT 10029
#define IDM_FILE_OPEN_PROJECT 10028
#define IDM_FILE_OPEN_TEXT 10055
#define IDM_FILE_CLOSE_PROJECT 10030
#define IDM_FILE_SAVE_PROJECT 10031
#define IDM_FILE_SAVE_PROJECT_AS 10032
#define IDM_FILE_EXIT 10001
#define IDM_EDIT_UNDO 10009
#define IDM_EDIT_REDO 10051
#define IDM_EDIT_CUT 10007
#define IDM_EDIT_COPY 10006
#define IDM_EDIT_PASTE 10008
#define IDM_EDIT_DELETE 10010
#define IDM_EDIT_FIND 10056
#define IDM_EDIT_REPLACE 10057
#define IDM_FORMAT_LOCK 10011
#define IDM_FORMAT_BACK 10012
#define IDM_FORMAT_FRONT 10013
#define IDM_FORMAT_GRID 10014
#define IDM_FORMAT_SNAP 10015
#define IDM_FORMAT_ALIGN_LEFT 10019
#define IDM_FORMAT_ALIGN_CENTER 10020
#define IDM_FORMAT_ALIGN_RIGHT 10021
#define IDM_FORMAT_ALIGN_TOP 10022
#define IDM_FORMAT_ALIGN_MIDDLE 10023
#define IDM_FORMAT_ALIGN_BOTTOM 10024
#define IDM_FORMAT_SIZE_WIDTH 10016
#define IDM_FORMAT_SIZE_HEIGHT 10017
#define IDM_FORMAT_SIZE_BOTH 10018
#define IDM_FORMAT_ALIGN_DLGHCENTER 10043
#define IDM_FORMAT_ALIGN_DLGVCENTER 10044
#define IDM_FORMAT_TABINDEX 10045
#define IDM_FORMAT_AUTOID 10047
#define IDM_VIEW_OUTPUT 10039
#define IDM_VIEW_PREVIEW 10042
#define IDM_VIEW_TEXTMODE 10050
#define IDM_PROJECT_ADD_DIALOG 10002
#define IDM_PROJECT_ADD_MENU 10003
#define IDM_PROJECT_ADD_ACCELERATOR 10004
#define IDM_PROJECT_ADD_VERSIONINFO 10026
#define IDM_PROJECT_ADD_STRINGTABLE 10025
#define IDM_PROJECT_ADDXPMANIFEST 10048
#define IDM_PROJECT_ADD_RCDATA 10049
#define IDM_PROJRCT_ADD_TOOLBAR 10052
#define IDM_PROJECT_LANGUAGE 10041
#define IDM_PROJECT_INCLUDE 10034
#define IDM_PROJECT_RESOURCE 10005
#define IDM_PROJECT_NAMES 10035
#define IDM_PROJECT_EXPORT 10040
#define IDM_PROJECT_REMOVE 10027
#define IDM_PROJECT_UNDO 10033
#define IDM_PROJECT_DLGSAVE 10046
#define IDM_OPTION_TOOLS 10036
#define IDM_OPTION_HELP 10037
#define IDM_OPTION_OPTIONS 10038
#define IDM_TOOLS_UPDATE 10059
#define IDM_TOOLS_COMPILE 10058
#define IDM_TOOLS_CLEAR 10054
#define IDM_HELP_ABOUT 10101
IDR_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "New Project\tCtrl+N",IDM_FILE_NEW_PROJECT
    MENUITEM "Open Project\tCtrl+O",IDM_FILE_OPEN_PROJECT
    MENUITEM "Open Project As Text\tCtrl+T",IDM_FILE_OPEN_TEXT
    MENUITEM "Close Project\tF4",IDM_FILE_CLOSE_PROJECT
    MENUITEM "",,0x00000800
    MENUITEM "Save Project\tCtrl+S",IDM_FILE_SAVE_PROJECT
    MENUITEM "Save Project As\tCtrl+Shift+S",IDM_FILE_SAVE_PROJECT_AS
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
    MENUITEM "",,0x00000800
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "&Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "",,0x00000800
    MENUITEM "Cu&t\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "&Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "&Find\tCtrl+F",IDM_EDIT_FIND
    MENUITEM "&Replace\tCtrl+R",IDM_EDIT_REPLACE
  END
  POPUP "For&mat"
  BEGIN
    MENUITEM "&Lock Controls",IDM_FORMAT_LOCK
    MENUITEM "Send to &Back",IDM_FORMAT_BACK
    MENUITEM "Bring to &Front",IDM_FORMAT_FRONT
    MENUITEM "Show &Grid",IDM_FORMAT_GRID
    MENUITEM "&Snap to Grid",IDM_FORMAT_SNAP
    MENUITEM "",,0x00000800
    POPUP "Align Controls",10200
    BEGIN
      MENUITEM "&Left",IDM_FORMAT_ALIGN_LEFT
      MENUITEM "&Center",IDM_FORMAT_ALIGN_CENTER
      MENUITEM "&Right",IDM_FORMAT_ALIGN_RIGHT
      MENUITEM "",,0x00000800
      MENUITEM "&Top",IDM_FORMAT_ALIGN_TOP
      MENUITEM "&Middle",IDM_FORMAT_ALIGN_MIDDLE
      MENUITEM "&Bottom",IDM_FORMAT_ALIGN_BOTTOM
    END
    POPUP "Same Size",10300
    BEGIN
      MENUITEM "&Width",IDM_FORMAT_SIZE_WIDTH
      MENUITEM "&Height",IDM_FORMAT_SIZE_HEIGHT
      MENUITEM "&Both",IDM_FORMAT_SIZE_BOTH
    END
    POPUP "Center in Dialog",10053
    BEGIN
      MENUITEM "&Horizontal",IDM_FORMAT_ALIGN_DLGHCENTER
      MENUITEM "&Vertical",IDM_FORMAT_ALIGN_DLGVCENTER
    END
    MENUITEM "Set tabindex",IDM_FORMAT_TABINDEX
    MENUITEM "Auto renumber ID's",IDM_FORMAT_AUTOID
  END
  POPUP "&View"
  BEGIN
    MENUITEM "&Output",IDM_VIEW_OUTPUT
    MENUITEM "&Preview Dialog",IDM_VIEW_PREVIEW
    MENUITEM "&Text mode",IDM_VIEW_TEXTMODE
  END
  POPUP "&Project"
  BEGIN
    MENUITEM "Add &Dialog",IDM_PROJECT_ADD_DIALOG
    MENUITEM "Add &Menu",IDM_PROJECT_ADD_MENU
    MENUITEM "Add &Accelerator",IDM_PROJECT_ADD_ACCELERATOR
    MENUITEM "Add &Versioninfo",IDM_PROJECT_ADD_VERSIONINFO
    MENUITEM "Add &Stringtable",IDM_PROJECT_ADD_STRINGTABLE
    MENUITEM "Add &XP Manifest",IDM_PROJECT_ADDXPMANIFEST
    MENUITEM "Add &RCData",IDM_PROJECT_ADD_RCDATA
    MENUITEM "Add &Toolbar",IDM_PROJRCT_ADD_TOOLBAR
    MENUITEM "&Language",IDM_PROJECT_LANGUAGE
    MENUITEM "&Include files",IDM_PROJECT_INCLUDE
    MENUITEM "&Resource files",IDM_PROJECT_RESOURCE
    MENUITEM "&Names",IDM_PROJECT_NAMES
    MENUITEM "&Export Names\tCtrl+E",IDM_PROJECT_EXPORT
    MENUITEM "",,0x00000800
    MENUITEM "Remove from project",IDM_PROJECT_REMOVE
    MENUITEM "Undo Remove",IDM_PROJECT_UNDO
    MENUITEM "Save as RadASM dlg file",IDM_PROJECT_DLGSAVE
  END
  POPUP "&Option"
  BEGIN
    MENUITEM "Tools menu",IDM_OPTION_TOOLS
    MENUITEM "&Help menu",IDM_OPTION_HELP
    MENUITEM "",,0x00000800
    MENUITEM "&Options",IDM_OPTION_OPTIONS
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "Check for &Update",IDM_TOOLS_UPDATE
    MENUITEM "&Compile",IDM_TOOLS_COMPILE
    MENUITEM "Clear &MRU projects",IDM_TOOLS_CLEAR
    MENUITEM "",,0x00000800
    MENUITEM "(Empty)",20000,,0x00000001
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
    MENUITEM "",,0x00000800
    MENUITEM "(Empty)",30000,,0x00000001
  END
END
