#include "Res/UpdateCheckerDlg.rc"
#include "Res/DownloadDlg.rc"
#include "Res/SaveUnicodeDlg.rc"
#include "Res/ResEdMnu.rc"
#include "Res/FindDlg.rc"
#include "Res/ContextMnu.Rc"
#include "Res/ResEdDlg.rc"
#include "Res/MenuOptionDlg.rc"
#include "Res/ResEdRes.rc"
#include "Res/ResEdVer.rc"
#include "Res/TabOptionsDlg.rc"
#include "Res/TabOpt1Dlg.rc"
#include "Res/TabOpt2Dlg.rc"
#include "Res/TabOpt3Dlg.rc"
#include "Res/TabOpt4Dlg.rc"
#include "Res/ResEdAcl.rc"
#include "Res/ResEdStr.rc"
#include "Res/AboutDlg.rc"

#define IDB_TOOLBOX		32100
#define IDB_MNUARROW	32101
#define IDB_PROTRV		32107
#define IDB_CUSTCTL		32106
#define IDB_BOOKMARK	32108
#define IDC_HSPLIT		32109
#define IDC_VSPLIT		32110

;RAResEd
IDB_TOOLBOX				BITMAP  DISCARDABLE "../RAResEd/Res/ToolBox.bmp"
IDB_MNUARROW			BITMAP  DISCARDABLE "../RAResEd/Res/MnuArrow.bmp"
IDB_PROTRV				BITMAP  DISCARDABLE "../RAResEd/Res/ProTrv.bmp"
IDB_CUSTCTL				BITMAP  DISCARDABLE "../RAResEd/Res/Button.bmp"
IDB_CUSTCTL				ICON	DISCARDABLE "../RAResEd/Res/ResEd.ico"
IDB_BOOKMARK			BITMAP	DISCARDABLE "../RAResEd/Res/Bookmark.bmp"
IDC_HSPLIT				CURSOR  DISCARDABLE "../RAResEd/Res/SplitH.cur"
IDC_VSPLIT				CURSOR  DISCARDABLE "../RAResEd/Res/SplitV.cur"

#include "../RAResEd/Res/MenuEditDlg.rc"
#include "../RAResEd/Res/IncludeEditDlg.rc"
#include "../RAResEd/Res/ResourceEditDlg.rc"
#include "../RAResEd/Res/StringEditDlg.rc"
#include "../RAResEd/Res/AccelEditDlg.rc"
#include "../RAResEd/Res/NameEditDlg.rc"
#include "../RAResEd/Res/VersionEditDlg.rc"
#include "../RAResEd/Res/LanguageEditDlg.rc"
#include "../RAResEd/Res/StyleManaDlg.rc"
#include "../RAResEd/Res/XPManifestEditDlg.rc"
#include "../RAResEd/Res/RCDataEditDlg.rc"
#include "../RAResEd/Res/ToolbarEditDlg.rc"
#include "../RAResEd/Res/ResPreviewDlg.rc"
#include "../RAResEd/Res/ResPreviewBtnDlg.rc"
#include "../RAResEd/Res/ResPreviewCtlDlg.rc"
#include "../RAResEd/Res/MnuPreviewDlg.rc"
#include "../RAResEd/Res/LanguageEditChildDlg.rc"
#include "Res/TabOpt5Dlg.rc"
#include "Res/TabOpt6Dlg.rc"
#include "Res/TabOpt7Dlg.rc"

;RAEdit
101						CURSOR  DISCARDABLE "../RAResEd/Res/SplitH.cur"
102						BITMAP   DISCARDABLE "../RAResEd/Res/RAEditBookmark.bmp"
103						CURSOR   DISCARDABLE "../RAResEd/Res/Select.cur"
104						BITMAP   DISCARDABLE "../RAResEd/Res/Linenumber.bmp"
105						BITMAP   DISCARDABLE "../RAResEd/Res/Expand.bmp"
106						BITMAP   DISCARDABLE "../RAResEd/Res/Collapse.bmp"
107						BITMAP	 DISCARDABLE "../RAResEd/Res/Lock.bmp"
;RAGrid
102						CURSOR  DISCARDABLE "../RAResEd/Res/SplitV.cur"
