#define IDD_DLGMAIN 1000
#define IDC_MAP 1001
#define IDM_MENU 10000
#define IDM_FILE_MOVRIGHT 10008
#define IDM_FILE_MOVLEFT 10011
#define IDM_FILE_MOVDOWN 10012
#define IDM_FILE_MOVUP 10013
#define IDM_FILE_RIGHT 10006
#define IDM_FILE_LEFT 10009
#define IDM_FILE_DOWN 10005
#define IDM_FILE_UP 10010
#define IDM_FILE_START 10002
#define IDM_FILE_CONVERT 10014
#define IDM_FILE_EXIT 10001
#define IDM_SETUP_TILES 10007
#define IDM_SETUP_LAND 10003
#define IDM_SETUP_SEA 10004
#define IDD_DLGSETUP 1100
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDTURLLAND 1101
#define IDC_EDTMAPTILESX 1102
#define IDC_EDTMAPTILESY 1103
#ifndef IDOK
  #define IDOK 1
#endif
#define IDC_EDTURLSEA 1104

IDD_DLGMAIN DIALOGEX 6,6,525,381
CAPTION "Grab Map"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x10CF0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_MAP,"FBEWEB",0x50000000,0,3,522,375
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Move Right",IDM_FILE_MOVRIGHT
    MENUITEM "Move Left",IDM_FILE_MOVLEFT
    MENUITEM "Move Down",IDM_FILE_MOVDOWN
    MENUITEM "Move Up",IDM_FILE_MOVUP
    MENUITEM "",,0x00000800
    MENUITEM "Test Right",IDM_FILE_RIGHT
    MENUITEM "Test Left",IDM_FILE_LEFT
    MENUITEM "Test Down",IDM_FILE_DOWN
    MENUITEM "Test Up",IDM_FILE_UP
    MENUITEM "",,0x00000800
    MENUITEM "Start Grabbing",IDM_FILE_START
    MENUITEM "",,0x00000800
    MENUITEM "Convert to jpeg",IDM_FILE_CONVERT
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Setup"
  BEGIN
    MENUITEM "Tiles and Url",IDM_SETUP_TILES
    MENUITEM "",,0x00000800
    MENUITEM "Select Land Map",IDM_SETUP_LAND
    MENUITEM "Select Sea Map",IDM_SETUP_SEA
  END
END

IDD_DLGSETUP DIALOGEX 10,10,192,96
CAPTION "Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Url Land map:",IDC_STATIC,"Static",0x50000000,3,9,48,12
  CONTROL "",IDC_EDTURLLAND,"Edit",0x50010080,51,6,138,15,0x00000200
  CONTROL "",IDC_EDTMAPTILESX,"Edit",0x50012001,51,48,42,15,0x00000200
  CONTROL "Map tiles X:",IDC_STATIC,"Static",0x50000080,3,51,48,12
  CONTROL "",IDC_EDTMAPTILESY,"Edit",0x50012001,147,48,42,15,0x00000200
  CONTROL "Map tiles Y:",IDC_STATIC,"Static",0x50000080,102,51,45,12
  CONTROL "OK",IDOK,"Button",0x50010000,135,75,54,15
  CONTROL "",IDC_EDTURLSEA,"Edit",0x50010080,51,24,138,15,0x00000200
  CONTROL "Url Sea map:",IDC_STATIC,"Static",0x50000000,3,27,48,12
END

