;Filebrowser
300 BITMAP					"Res/FileDir.bmp"
STRINGTABLE DISCARDABLE
BEGIN
  1							"Up One Level"
  2							"File Filter"
END
;Property
101 BITMAP					"Res/ToolBar.bmp"
STRINGTABLE DISCARDABLE
BEGIN
  11						"Current file"
  12						"Open files"
  13						"Selected project file"
  14						"All project files"
  15						"Refresh"
END
;Code complete
110 BITMAP					"Res/Types.bmp"
;Grid
102 CURSOR					"Res/SplitV.cur"
;Hex edit
102 BITMAP					"Res/Bookmark.bmp"
104 BITMAP					"Res/Linenumber.bmp"
101 CURSOR					"Res/SplitH.cur"
103 CURSOR					"Res/Select.cur"
;RAEdit
105 BITMAP					"Res/Expand.bmp"
106 BITMAP					"Res/Collapse.bmp"
107 BITMAP					"Res/Lock.bmp"
;RAResEd
32100 BITMAP				"Res/ToolBox.bmp"
32107 BITMAP				"Res/ProTrv.bmp"
32101 BITMAP				"Res/MnuArrow.bmp"
32109 CURSOR				"Res/SplitH.cur"
32110 CURSOR				"Res/SplitV.cur"
32108 BITMAP				"Res/ResBookmark.bmp"
#include					"Res/AccelEditDlg.Rc"
#include 					"Res/FbEditDLLVer.rc"
#include					"Res/IncludeEditDlg.Rc"
#include					"Res/LanguageEditDlg.Rc"
#include					"Res/MenuEditDlg.Rc"
#include					"Res/NameEditDlg.Rc"
#include					"Res/RCDataEditDlg.rc"
#include					"Res/ResourceEditDlg.Rc"
#include					"Res/ResPreviewDlg.rc"
#include					"Res/ResPreviewBtnDlg.rc"
#include					"Res/ResPreviewCtlDlg.rc"
#include					"Res/StringEditDlg.Rc"
#include					"Res/StyleManaDlg.Rc"
#include					"Res/ToolbarEditDlg.rc"
#include					"Res/VersionEditDlg.Rc"
#include					"Res/XPManifestEditDlg.rc"
#include					"Res/MnuPreviewDlg.rc"
#include					"Res/LanguageEditChildDlg.rc"
