#include "Res/SnipletsDlg.rc"
#include "Res/ProjectVer.rc"
#include "Res/ProjectOptionDlg.rc"
#include "Res/NewTemplateDlg.rc"
#include "Res/NewProject2Dlg.rc"
#include "Res/NewProject1Dlg.rc"
#include "Res/NewProjectDlg.rc"
