#define IDD_DLGSNIPLET 1000
#define IDC_FILEBROWSER 1001
#define IDC_RAEDIT 1002
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#ifndef IDOK
  #define IDOK 1
#endif
#define IDC_BTN_CLIPBOARD 1003
#define IDR_VERSION1 1

IDD_DLGSNIPLET DIALOGEX 6,5,327,198
CAPTION "Code Sniplets"
FONT 8,"Verdana",400,0,0
STYLE 0x16CC0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_FILEBROWSER,"RAFileBrowser",0x56000001,2,1,86,176
  CONTROL "",IDC_RAEDIT,"RAEdit",0x56003907,92,1,234,176,0x00000200
  CONTROL "Cancel",IDCANCEL,"Button",0x56010000,274,180,50,15
  CONTROL "Editor",IDOK,"Button",0x56010000,219,180,50,15
  CONTROL "Clipboard",IDC_BTN_CLIPBOARD,"Button",0x56010000,164,180,50,15
END

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,0,1
PRODUCTVERSION 1,0,0,1
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "FileDescription", "FbEdit Sniplet Viewer\0"
      VALUE "InternalName", "SnipletAddin\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x0000
  END
END

