#define IDB_RAHEXEDBUTTON				100
#define IDC_HSPLITTCUR					101
#define IDB_BOOKMARK					102
#define IDC_SELECTCUR					103
#define IDB_LINENUMBER					104
IDB_RAHEXEDBUTTON		BITMAP   DISCARDABLE "Res/Button.bmp"
IDC_HSPLITTCUR			CURSOR   DISCARDABLE "Res/SplitH.cur"
IDB_BOOKMARK			BITMAP   DISCARDABLE "Res/Bookmark.bmp"
IDC_SELECTCUR			CURSOR   DISCARDABLE "Res/Select.cur"
IDB_LINENUMBER			BITMAP   DISCARDABLE "Res/Linenumber.bmp"
