#include "Res/AddinManagerDlg.rc"
#define IDM_HELPF1 500
#include "Res/MasmEdMnu.rc"
#include "Res/DoNotDebugDlg.rc"
#include "Res/PathOptionDlg.rc"
#include "Res/TabOpt5Dlg.rc"
#include "Res/TabOpt4Dlg.rc"
#include "Res/ContextMnu.rc"
#include "Res/UnicodeDlg.rc"
#include "Res/MasmEdDlg.rc"
#include "Res/FindDlg.rc"
#include "Res/KeyWordsDlg.rc"
#include "Res/MenuOptionDlg.rc"
#include "Res/MasmEdRes.rc"
#include "Res/MasmEdVer.rc"
#include "Res/MasmEdStr.rc"
#include "Res/MasmEdAcl.rc"
#include "Res/TabOptionsDlg.rc"
#include "Res/TabOpt2Dlg.rc"
#include "Res/TabOpt3Dlg.rc"
#include "Res/TabOpt1Dlg.rc"
#include "Res/AboutDlg.rc"
#include "Res/HexFindDlg.rc"
#include "Res/BlockDlg.rc"
#include "Res/BuildOptionDlg.rc"
#include "Res/BuildOptionAddDlg.rc"

#include "Res/MenuEditDlg.rc"
#include "Res/MnuPreviewDlg.rc"
#include "Res/RCDataEditDlg.rc"
#include "Res/IncludeEditDlg.rc"
#include "Res/ResourceEditDlg.rc"
#include "Res/ResPreviewDlg.rc"
#include "Res/ResPreviewBtnDlg.rc"
#include "Res/ResPreviewCtlDlg.rc"
#include "Res/StringEditDlg.rc"
#include "Res/AccelEditDlg.rc"
#include "Res/NameEditDlg.rc"
#include "Res/VersionEditDlg.rc"
#include "Res/LanguageEditChildDlg.rc"
#include "Res/LanguageEditDlg.rc"
#include "Res/StyleManaDlg.rc"
#include "Res/ToolbarEditDlg.rc"
#include "Res/XPManifestEditDlg.rc"
