STRINGTABLE DISCARDABLE
BEGIN
  IDM_FILE_PRINT			"Print"
  IDM_FILE_NEW				"New file"
  IDM_FILE_OPEN				"Open file"
  IDM_FILE_SAVE				"Save file"
  IDM_FILE_SAVEALL			"Save all files"
  IDM_EDIT_CUT				"Cut"
  IDM_EDIT_COPY				"Copy"
  IDM_EDIT_PASTE			"Paste"
  IDM_EDIT_UNDO				"Undo"
  IDM_EDIT_REDO				"Redo"
  IDM_EDIT_DELETE			"Delete"
  IDM_EDIT_FIND				"Find"
  IDM_EDIT_REPLACE			"Replace"
  IDM_EDIT_TOGGLEBM			"Toggle bookmark"
  IDM_EDIT_NEXTBM			"Next bookmark"
  IDM_EDIT_PREVBM			"Previous bookmark"
  IDM_EDIT_CLEARBM			"Clear bookmarks"
  IDM_VIEW_OUTPUT			"Show / Hide Output"
  IDM_MAKE_ASSEMBLE			"Assemble"
  IDM_MAKE_LINK				"Link"
  IDM_MAKE_RUN				"Run"
  IDM_MAKE_GO				"Go"
END
