#define IDM_MENU 10000
#define IDM_FILE_NEW 10001
#define IDM_FILE_OPEN 10002
#define IDM_FILE_SAVE 10003
#define IDM_FILE_SAVEAS 10004
#define IDM_FILE_SAVEALL 10011
#define IDM_FILE_CLOSE 10010
#define IDM_FILE_PAGESETUP 10029
#define IDM_FILE_PRINT_PREVIEW 10042
#define IDM_FILE_PRINT 10005
#define IDM_FILE_EXIT 10006
#define IDM_EDIT_UNDO 10101
#define IDM_EDIT_REDO 10102
#define IDM_EDIT_DELETE 10103
#define IDM_EDIT_CUT 10104
#define IDM_EDIT_COPY 10105
#define IDM_EDIT_PASTE 10106
#define IDM_EDIT_SELECTALL 10107
#define IDM_EDIT_FIND 10108
#define IDM_EDIT_FINDNEXT 10110
#define IDM_EDIT_FINDPREV 10111
#define IDM_EDIT_REPLACE 10109
#define IDM_EDIT_INDENT 10037
#define IDM_EDIT_OUTDENT 10038
#define IDM_EDIT_COMMENT 10035
#define IDM_EDIT_UNCOMMENT 10036
#define IDM_EDIT_BLOCKMODE 10040
#define IDM_EDIT_BLOCKINSERT 10041
#define IDM_EDIT_TOGGLEBM 10018
#define IDM_EDIT_NEXTBM 10019
#define IDM_EDIT_PREVBM 10020
#define IDM_EDIT_CLEARBM 10021
#define IDM_VIEW_TOOLBAR 10008
#define IDM_VIEW_STATUSBAR 10009
#define IDM_VIEW_OUTPUT 10023
#define IDM_MAKE_COMPILE 10024
#define IDM_MAKE_ASSEMBLE 10025
#define IDM_MAKE_LINK 10026
#define IDM_MAKE_RUN 10027
#define IDM_MAKE_GO 10028
#define IDM_TOOLS_EMPTY 20000
#define IDM_OPTION_FONT 10007
#define IDM_OPTION_LNFONT 10022
#define IDM_OPTION_KEYWORDS 10030
#define IDM_OPTION_TOOLS 10031
#define IDM_OPTION_HELP 10032
#define IDM_HELP_ABOUT 10201
#define IDM_HELP_EMPTY 30000
#define IDM_DEMO_HILITE1 10012
#define IDM_DEMO_HILITE2 10013
#define IDM_DEMO_HILITE3 10014
#define IDM_DEMO_HILITEOFF 10015
#define IDM_DEMO_LOCK 10016
#define IDM_DEMO_UNLOCK 10017
#define IDM_DEMO_SPEED_TEST 10033
#define IDM_DEMO_HIDE 10034
#define IDM_DEMO_LINELENGHT 10039
IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N",IDM_FILE_NEW
    MENUITEM "&Open\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "&Save\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "Save &As ...\tAlt+Ctrl+S",IDM_FILE_SAVEAS
    MENUITEM "Save All\tCtrl+Shift+S",IDM_FILE_SAVEALL
    MENUITEM "",,0x00000800
    MENUITEM "&Close\tCtrl+F4",IDM_FILE_CLOSE
    MENUITEM "",,0x00000800
    MENUITEM "P&age Setup",IDM_FILE_PAGESETUP
    MENUITEM "Print Previe&w",IDM_FILE_PRINT_PREVIEW
    MENUITEM "&Print\tCtrl+P",IDM_FILE_PRINT
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "R&edo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "&Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "Cop&y\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "Select &All\tCtrl+A",IDM_EDIT_SELECTALL
    MENUITEM "",,0x00000800
    MENUITEM "&Find...\tCtrl+F",IDM_EDIT_FIND
    MENUITEM "Find &Next\tF3",IDM_EDIT_FINDNEXT
    MENUITEM "Find &Previous\tCtrl+F3",IDM_EDIT_FINDPREV
    MENUITEM "&Replace...\tCtrl+R",IDM_EDIT_REPLACE
    MENUITEM "",,0x00000800
    POPUP "Bloc&k"
    BEGIN
      MENUITEM "&Indent\tCtrl+Tab",IDM_EDIT_INDENT
      MENUITEM "&Outdent\tShift+Ctrl+Tab",IDM_EDIT_OUTDENT
      MENUITEM "&Comment\tF9",IDM_EDIT_COMMENT
      MENUITEM "&Uncomment\tCtrl+F9",IDM_EDIT_UNCOMMENT
      MENUITEM "&Block Selection Mode\tCtrl+B",IDM_EDIT_BLOCKMODE
      MENUITEM "Block Insert / Replace",IDM_EDIT_BLOCKINSERT
    END
    MENUITEM "",,0x00000800
    MENUITEM "&Toggle bookmark\tShift+F8",IDM_EDIT_TOGGLEBM
    MENUITEM "&Next bookmark\tF8",IDM_EDIT_NEXTBM
    MENUITEM "&Previous bookmark\tCtrl+F8",IDM_EDIT_PREVBM
    MENUITEM "Clear &bookmarks\tCtrl+Shift+F8",IDM_EDIT_CLEARBM
  END
  POPUP "&View"
  BEGIN
    MENUITEM "&Toolbar",IDM_VIEW_TOOLBAR
    MENUITEM "&Statusbar",IDM_VIEW_STATUSBAR
    MENUITEM "&Output",IDM_VIEW_OUTPUT
  END
  POPUP "&Make"
  BEGIN
    MENUITEM "&Compile RC\tShift+F5",IDM_MAKE_COMPILE
    MENUITEM "&Assemble\tF5",IDM_MAKE_ASSEMBLE
    MENUITEM "&Link\tAlt+Ctrl+F5",IDM_MAKE_LINK
    MENUITEM "",,0x00000800
    MENUITEM "&Run\tCtrl+Shift+F5",IDM_MAKE_RUN
    MENUITEM "",,0x00000800
    MENUITEM "&Go\tCtrl+F5",IDM_MAKE_GO
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "(Empty)",IDM_TOOLS_EMPTY,,0x00000008
  END
  POPUP "&Option"
  BEGIN
    MENUITEM "Code Edit &Font",IDM_OPTION_FONT
    MENUITEM "&Line Number Font",IDM_OPTION_LNFONT
    MENUITEM "&Colors && Keywords",IDM_OPTION_KEYWORDS
    MENUITEM "",,0x00000800
    MENUITEM "&Tools menu",IDM_OPTION_TOOLS
    MENUITEM "&Help menu",IDM_OPTION_HELP
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
    MENUITEM "",,0x00000800
    MENUITEM "(Empty)",IDM_HELP_EMPTY,,0x00000008
  END
  POPUP "&Demo"
  BEGIN
    POPUP "Hilite selection"
    BEGIN
      MENUITEM "Color#1",IDM_DEMO_HILITE1
      MENUITEM "Color#2",IDM_DEMO_HILITE2
      MENUITEM "Color#3",IDM_DEMO_HILITE3
      MENUITEM "Off",IDM_DEMO_HILITEOFF
    END
    POPUP "Lock selection"
    BEGIN
      MENUITEM "Lock",IDM_DEMO_LOCK
      MENUITEM "Unlock",IDM_DEMO_UNLOCK
    END
    MENUITEM "&Scroll test",IDM_DEMO_SPEED_TEST
    MENUITEM "&Hide selection",IDM_DEMO_HIDE
    MENUITEM "&Line lenght",IDM_DEMO_LINELENGHT
  END
END
