#define VERINF1 1
VERINF1 VERSIONINFO
FILEVERSION 1,5,5,2
PRODUCTVERSION 1,5,5,2
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileVersion", "1.5.5.2\0"
      VALUE "FileDescription", "Simple code editor\0"
      VALUE "LegalCopyright", "KetilO (C) 2003\0"
      VALUE "OriginalFilename", "SimEd.exe\0"
      VALUE "ProductVersion", "1.5.5.2\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END
