#define IDB_TBRBMP						150
#define IDC_HSPLIT						250
#define IDC_VSPLIT						251
#define IDB_MNUARROW					200
#define MANIFEST						24
IDB_TBRBMP				BITMAP   DISCARDABLE "Res/Toolbar.bmp"
IDC_HSPLIT				CURSOR   DISCARDABLE "Res/SplitH.cur"
IDC_VSPLIT				CURSOR   DISCARDABLE "Res/SplitV.cur"
IDB_MNUARROW			BITMAP   DISCARDABLE "Res/MNUARROW.bmp"
1						MANIFEST DISCARDABLE "Res/xptheme.xml"
