#define IDM_HELPF1 500
#include "Res/SimEdMnu.rc"
#include "Res/SaveTemplateDlg.rc"
#include "Res/SimEdDlg.rc"
#include "Res/FindDlg.rc"
#include "Res/KeyWordsDlg.rc"
#include "Res/MenuOptionDlg.rc"
#include "Res/SimEdRes.rc"
#include "Res/SimEdVer.rc"
#include "Res/SimEdStr.rc"
#include "Res/SimEdAcl.rc"
#include "Res/BlockDlg.rc"
#include "Res/AboutDlg.rc"
#include "Res/PrintPreviewDlg.rc"
