#define IDD_MAIN 1000
#define IDC_MAINTAB 1001
#define IDD_FREQUENCY 1100
#define IDC_UDCFREQUENCY 1101
#define IDC_UDCVOLTSDVM 1102
#define IDC_CHKFRQCOUNT 1103
#define IDD_DDSWAVE 1200
#define IDC_UDCWAVE 1201
#define IDC_UDCPEAK 1202
#define IDD_HSCLOCK 1300
#define IDC_UDCHSCLOCK 1301
#define IDD_DDSWAVESETUP 1400
#define IDC_CHKDDSENABLE 1401
#define IDC_CHKDDSBUFFERED 1402
#define IDC_CBODDSWAVE 1403
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_TRBDDSAMP 1404
#define IDC_TRBDDSDCOFS 1405
#define IDC_TRBDDSFRQH 1406
#define IDC_TRBDDSFRQL 1407
#define IDC_EDTDDSFREQUENCY 1408
#define IDC_BTNDDSSET 1409
#define IDC_RBNSWEEPOFF 1410
#define IDC_RBNSWEEPUP 1411
#define IDC_RBNSWEEPDOWN 1412
#define IDC_RBNSWEEPUPDOWN 1413
#define IDC_RBNSWEEPPEAK 1414
#define IDC_EDTSWEEPSIZE 1415
#define IDC_EDTSWEEPTIME 1416
#define IDC_EDTSWEEPCOUNT 1417
#define IDC_BTNSWEEPSET 1418
#define IDD_HSCLOCKSETUP 1500
#define IDC_CHKHSCLOCKENABLE 1501
#define IDC_TRBHSCLOCKDIV 1502
#define IDC_TRBHSCLOCKH 1503
#define IDC_TRBHSCLOCKL 1504
#define IDC_TRBHSCLOCKDUTY 1505

#include "/masm32/include/RESOURCE.H"

IDD_MAIN DIALOGEX 0,0,546,285
CAPTION "DDS Waveform Generator"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x16CF0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_MAINTAB,"SysTabControl32",0x56018000,0,0,546,282
END

IDD_FREQUENCY DIALOGEX 10,10,210,45
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56000000
BEGIN
  CONTROL "0Hz",IDC_UDCFREQUENCY,"TEXTCLASS",0x56000000,3,12,102,30,0x00020000
  CONTROL "0.00V",IDC_UDCVOLTSDVM,"TEXTCLASS",0x56000000,108,12,99,30,0x00020000
  CONTROL "Enable",IDC_CHKFRQCOUNT,"Button",0x56010003,3,0,102,9
END

IDD_DDSWAVE DIALOGEX 0,0,378,234
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56000000
BEGIN
  CONTROL "",IDC_UDCWAVE,"DDSWAVECLASS",0x50000000,3,3,369,96,0x00000200
  CONTROL "",IDC_UDCPEAK,"DDSPEAKCLASS",0x50000000,3,105,369,96,0x00000200
END

IDD_HSCLOCK DIALOGEX 0,0,381,108
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46000000
BEGIN
  CONTROL "",IDC_UDCHSCLOCK,"HSCLOCKCLASS",0x50000000,3,3,369,96,0x00000200
END

IDD_DDSWAVESETUP DIALOGEX 0,0,210,222
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50000000
BEGIN
  CONTROL "Wave Form",-1,"Button",0x50000007,3,0,204,54
  CONTROL "Enable Output",IDC_CHKDDSENABLE,"Button",0x50010003,9,12,192,9
  CONTROL "Buffered Output",IDC_CHKDDSBUFFERED,"Button",0x50010003,9,24,192,9
  CONTROL "",IDC_CBODDSWAVE,"ComboBox",0x50210003,9,36,192,102
  CONTROL "Amplitude",-1,"Button",0x50000007,3,54,204,63
  CONTROL "Amplitude:",IDC_STATIC,"Static",0x50000000,9,75,36,9
  CONTROL "",IDC_TRBDDSAMP,"msctls_trackbar32",0x50010508,45,66,159,21
  CONTROL "DC Offset:",IDC_STATIC,"Static",0x50000000,9,99,36,9
  CONTROL "",IDC_TRBDDSDCOFS,"msctls_trackbar32",0x50010508,45,90,159,21
  CONTROL "Frequency",-1,"Button",0x50000007,3,117,204,54
  CONTROL "",IDC_TRBDDSFRQH,"msctls_trackbar32",0x50010108,9,129,93,21
  CONTROL "",IDC_TRBDDSFRQL,"msctls_trackbar32",0x50010108,108,129,93,21
  CONTROL "Frequency (Hz):",IDC_STATIC,"Static",0x50000000,63,156,54,9
  CONTROL "",IDC_EDTDDSFREQUENCY,"Edit",0x50012002,117,153,51,12,0x00000200
  CONTROL "Set",IDC_BTNDDSSET,"Button",0x58010000,171,153,30,12
  CONTROL "Sweep",-1,"Button",0x50000007,3,171,204,51
  CONTROL "Off",IDC_RBNSWEEPOFF,"Button",0x50010009,9,183,24,9
  CONTROL "Up",IDC_RBNSWEEPUP,"Button",0x50010009,33,183,27,9
  CONTROL "Down",IDC_RBNSWEEPDOWN,"Button",0x50010009,60,183,36,9
  CONTROL "Up && Down",IDC_RBNSWEEPUPDOWN,"Button",0x50010009,96,183,51,9
  CONTROL "Peak Detect",IDC_RBNSWEEPPEAK,"Button",0x50010009,147,183,54,9
  CONTROL "Step size (Hz):",IDC_STATIC,"Static",0x50000000,9,195,48,9
  CONTROL "",IDC_EDTSWEEPSIZE,"Edit",0x50012002,9,204,51,12,0x00000200
  CONTROL "Step Time (ms):",IDC_STATIC,"Static",0x50000000,63,195,54,9
  CONTROL "",IDC_EDTSWEEPTIME,"Edit",0x50012002,63,204,51,12,0x00000200
  CONTROL "Step count:",IDC_STATIC,"Static",0x50000000,117,195,48,9
  CONTROL "",IDC_EDTSWEEPCOUNT,"Edit",0x50012002,117,204,51,12,0x00000200
  CONTROL "Set",IDC_BTNSWEEPSET,"Button",0x58010000,171,204,30,12
END

IDD_HSCLOCKSETUP DIALOGEX 0,0,210,129
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50000000
BEGIN
  CONTROL "High Speed Clock",-1,"Button",0x50000007,3,0,204,126
  CONTROL "Enable Output",IDC_CHKHSCLOCKENABLE,"Button",0x50010003,9,12,132,9
  CONTROL "Clock divisor:",IDC_STATIC,"Static",0x50000000,12,24,129,9
  CONTROL "",IDC_TRBHSCLOCKDIV,"msctls_trackbar32",0x50010508,6,33,198,21
  CONTROL "Frequency:",IDC_STATIC,"Static",0x50000000,12,57,129,9
  CONTROL "",IDC_TRBHSCLOCKH,"msctls_trackbar32",0x50010108,6,69,99,21
  CONTROL "",IDC_TRBHSCLOCKL,"msctls_trackbar32",0x50010108,105,69,99,21
  CONTROL "Pulse Width:",IDC_STATIC,"Static",0x50000000,12,93,129,9
  CONTROL "",IDC_TRBHSCLOCKDUTY,"msctls_trackbar32",0x50010508,6,102,198,21
END

