#define IDD_DIALOG1 101
#define IDC_EDT1 1004
#define IDC_REB1 1001
#define IDC_EDT2 1003
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDC_CBO1 1002
#define IDC_TBR1 1005
#define VERINF1 1

#include <resource.h>

IDD_DIALOG1 DIALOGEX 6,6,195,105
CAPTION "Rebar demo"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CLIPCHILDREN|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME|DS_CENTER|DS_MODALFRAME
EXSTYLE WS_EX_DLGMODALFRAME
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_WANTRETURN|ES_AUTOVSCROLL|ES_MULTILINE,0,16,194,68,WS_EX_CLIENTEDGE
  CONTROL "",IDC_REB1,"ReBarWindow32",WS_CHILDWINDOW|WS_VISIBLE|WS_CLIPCHILDREN,0,0,52,13
  CONTROL "",IDC_EDT2,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,0,92,54,11,WS_EX_CLIENTEDGE
  CONTROL "Exit",IDCANCEL,"Button",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,132,88,58,13
  CONTROL "",IDC_CBO1,"ComboBox",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,56,92,56,52
  CONTROL "",IDC_TBR1,"ToolbarWindow32",WS_CHILDWINDOW|WS_VISIBLE|CCS_NODIVIDER|CCS_NORESIZE|CCS_TOP,54,0,94,13
END

VERINF1 VERSIONINFO
FILEVERSION 0,0,0,2
PRODUCTVERSION 0,0,0,2
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileVersion", "0.0.0.2\0"
      VALUE "ProductVersion", "0.0.0.2\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

