#define IDD_DLGCHECK_UPDATE 8000
#define IDC_EDTDLPATH 1006
#define IDC_BTNDLPATH 1007
#define IDC_BTNDOWNLOAD 1008
#define IDC_BTNUNZIP 1009
#define IDC_EDTVERSION 1001
#define IDC_BTNUPDATE 1002
#define IDC_BTNVIEW 1003
#define IDD_DLGDOWNLOAD 8100
#define IDC_STCDOWNLOADING 1001
#define IDC_PGB1 1002
#define IDC_STCFILESIZE 1003
#define VERINF1 1

IDD_DLGCHECK_UPDATE DIALOGEX 6,6,237,144
CAPTION "RadASM Update checker"
FONT 8,"MS Sans Serif",400,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Get Version",1,"Button",0x50010001,132,123,48,17
  CONTROL "Cancel",2,"Button",0x50010000,186,121,48,17
  CONTROL "Download files",-1,"Button",0x50000007,2,72,232,46
  CONTROL "",IDC_EDTDLPATH,"Edit",0x58010080,8,96,202,13,0x00000200
  CONTROL "...",IDC_BTNDLPATH,"Button",0x58010000,212,96,14,13
  CONTROL "Download path:",-1,"Static",0x50000000,8,84,178,9
  CONTROL "Download",IDC_BTNDOWNLOAD,"Button",NOT 0x10000000|0x40010000,132,123,48,17
  CONTROL "Unzip",IDC_BTNUNZIP,"Button",NOT 0x10000000|0x40010001,132,123,48,17
  CONTROL "Push Get Version to check the version at Sourceforge.",IDC_EDTVERSION,"Edit",0x503108C4,2,0,232,70,0x00000200
  CONTROL "Update",IDC_BTNUPDATE,"Button",NOT 0x10000000|0x40010001,132,123,48,17
  CONTROL "View Whats New",IDC_BTNVIEW,"Button",NOT 0x10000000|0x40010001,3,123,63,18
END

IDD_DLGDOWNLOAD DIALOGEX 6,6,196,64
CAPTION "Downloading"
FONT 8,"MS Sans Serif",400,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Cancel",2,"Button",0x50010000,150,48,40,13
  CONTROL "",IDC_STCDOWNLOADING,"Static",0x50000000,2,7,190,9
  CONTROL "",IDC_PGB1,"msctls_progress32",0x50000000,2,35,190,9
  CONTROL "",IDC_STCFILESIZE,"Static",0x50000000,2,20,190,9
END

VERINF1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "FileDescription", "Update checker addin for MasmEd\0"
      VALUE "InternalName", "UpdateChecker.dll\0"
      VALUE "LegalCopyright", "KetilO (C) 2009\0"
      VALUE "OriginalFilename", "UpdateChecker.dll\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

