#define IDD_DLGCONVERT 1000
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDTPROJECT 1001
#define IDC_BTNPROJECT 1002
#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDC_EDTFILES 1003

IDD_DLGCONVERT DIALOGEX 10,10,255,171
CAPTION "Convert project from RadASM 2.x to RadASM 3.0"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "WARNING!\r\nCopy the project to a new folder before converting.",IDC_STATIC,"Static",0x50001000,3,3,249,21
  CONTROL "RadASM 2.x project file:",IDC_STATIC,"Static",0x50000000,3,30,132,9
  CONTROL "",IDC_EDTPROJECT,"Edit",0x50010800,3,39,234,12,0x00000200
  CONTROL "...",IDC_BTNPROJECT,"Button",0x50010000,240,39,12,12
  CONTROL "OK",IDOK,"Button",0x58010000,198,153,51,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,144,153,51,15
  CONTROL "Files in project:",IDC_STATIC,"Static",0x50000000,3,54,132,9
  CONTROL "",IDC_EDTFILES,"Edit",0x502108C4,3,66,249,84,0x00000200
END

