#define IDM_MAIN 10000
#define IDM_FILE_NEW 10107
#define IDM_FILE_OPEN 10002
#define IDM_FILE_SAVE 10003
#define IDM_FILE_SAVE_AS 10108
#define IDM_FILE_PAGESETUP 10110
#define IDM_FILE_PRINT 10004
#define IDM_FILE_EXIT 10001
#define IDM_EDIT_UNDO 10101
#define IDM_EDIT_REDO 10102
#define IDM_EDIT_CUT 10103
#define IDM_EDIT_COPY 10104
#define IDM_EDIT_PASTE 10105
#define IDM_EDIT_DELETE 10106
#define IDM_EDIT_SELECTALL 10109
#define IDM_EDIT_COLOR 10120
#define IDM_EDIT_WIDTH 10121
#define IDM_EDIT_SNAP 10119
#define IDM_EDIT_ADDSYM 10122
#define IDM_VIEW_GRID 10111
#define IDM_VIEW_STATUSBAR 10113
#define IDM_VIEW_ZOOM_IN 10115
#define IDM_VIEW_ZOOM_OUT 10116
#define IDM_VIEW_ZOOM_BEST_FIT 10117
#define IDM_OPTION_SETUP 10112
#define IDM_OPTION_TOOLS_MENU 10114
#define IDM_OPTION_HELP_MENU 10118
#define IDM_HELP_ABOUT 10901
IDM_MAIN MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N",IDM_FILE_NEW
    MENUITEM "&Open\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "&Save\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "Save &As\tCtrl+Shift+S",IDM_FILE_SAVE_AS
    MENUITEM "",,0x00000800
    MENUITEM "Page Setup\tCtrl+Shift+P",IDM_FILE_PAGESETUP
    MENUITEM "&Print\tCtrl+P",IDM_FILE_PRINT
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "&Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "",,0x00000800
    MENUITEM "&Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "C&opy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "&Select All\tCtrl+A",IDM_EDIT_SELECTALL
    MENUITEM "",,0x00000800
    MENUITEM "Set C&olor",IDM_EDIT_COLOR
    MENUITEM "Set &Width",IDM_EDIT_WIDTH
    MENUITEM "Snap To &Grid",IDM_EDIT_SNAP
    MENUITEM "Add Symbol",IDM_EDIT_ADDSYM
  END
  POPUP "&View"
  BEGIN
    MENUITEM "&Grid\tCtrl+G",IDM_VIEW_GRID
    MENUITEM "&StatusBar",IDM_VIEW_STATUSBAR
    MENUITEM "",,0x00000800
    MENUITEM "Zoom &In\tPgDn",IDM_VIEW_ZOOM_IN
    MENUITEM "Zoom &Out\tPgUp",IDM_VIEW_ZOOM_OUT
    MENUITEM "Zoom &Best Fit\tCtrl+B",IDM_VIEW_ZOOM_BEST_FIT
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "(Empty)",11000,,0x00000001
  END
  POPUP "&Option"
  BEGIN
    MENUITEM "&Setup",IDM_OPTION_SETUP,,0x00000001
    MENUITEM "",,0x00000800
    MENUITEM "&Tools Menu",IDM_OPTION_TOOLS_MENU,,0x00000001
    MENUITEM "&Help Menu",IDM_OPTION_HELP_MENU,,0x00000001
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
    MENUITEM "",,0x00000800
    MENUITEM "(Empty)",12000,,0x00000001
  END
END
