#define IDR_ACCEL						100
#define IDM_VIEW_HOME					10200
IDR_ACCEL ACCELERATORS DISCARDABLE
BEGIN
  78,IDM_FILE_NEW,VIRTKEY,NOINVERT,CONTROL
  79,IDM_FILE_OPEN,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE_AS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  80,IDM_FILE_PRINT,VIRTKEY,NOINVERT,CONTROL
  90,IDM_EDIT_UNDO,VIRTKEY,NOINVERT,CONTROL
  89,IDM_EDIT_REDO,VIRTKEY,NOINVERT,CONTROL
  34,IDM_VIEW_ZOOM_IN,VIRTKEY,NOINVERT
  33,IDM_VIEW_ZOOM_OUT,VIRTKEY,NOINVERT
  46,IDM_EDIT_DELETE,VIRTKEY,NOINVERT
  65,IDM_EDIT_SELECTALL,VIRTKEY,NOINVERT,CONTROL
  88,IDM_EDIT_CUT,VIRTKEY,NOINVERT,CONTROL
  67,IDM_EDIT_COPY,VIRTKEY,NOINVERT,CONTROL
  86,IDM_EDIT_PASTE,VIRTKEY,NOINVERT,CONTROL
  36,IDM_VIEW_HOME,VIRTKEY,NOINVERT
END
