#define IDR_ACCEL						200
#define IDM_HELPF1						500
IDR_ACCEL ACCELERATORS DISCARDABLE
BEGIN
  78,IDM_FILE_NEW,VIRTKEY,NOINVERT,CONTROL
  79,IDM_FILE_OPEN,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE,VIRTKEY,NOINVERT,CONTROL
  70,IDM_EDIT_FIND,VIRTKEY,NOINVERT,CONTROL
  82,IDM_EDIT_REPLACE,VIRTKEY,NOINVERT,CONTROL
  9,IDM_EDIT_INDENT,VIRTKEY,NOINVERT
  9,IDM_EDIT_OUTDENT,VIRTKEY,NOINVERT,SHIFT
  112,IDM_HELPF1,VIRTKEY,NOINVERT
  114,IDM_EDIT_FINDNEXT,VIRTKEY,NOINVERT
  114,IDM_EDIT_FINDPREV,VIRTKEY,NOINVERT,CONTROL
  116,IDM_MAKE_COMPILE,VIRTKEY,NOINVERT,SHIFT
  116,IDM_MAKE_ASSEMBLE,VIRTKEY,NOINVERT
  116,IDM_MAKE_LINK,VIRTKEY,NOINVERT,CONTROL,ALT
  116,IDM_MAKE_RUN,VIRTKEY,NOINVERT,SHIFT,CONTROL
  116,IDM_MAKE_GO,VIRTKEY,NOINVERT,CONTROL
  119,IDM_EDIT_TOGGLEBM,VIRTKEY,NOINVERT,SHIFT
  119,IDM_EDIT_NEXTBM,VIRTKEY,NOINVERT
  119,IDM_EDIT_PREVBM,VIRTKEY,NOINVERT,CONTROL
  119,IDM_EDIT_CLEARBM,VIRTKEY,NOINVERT,SHIFT,CONTROL
  120,IDM_EDIT_COMMENT,VIRTKEY,NOINVERT
  120,IDM_EDIT_UNCOMMENT,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVEALL,VIRTKEY,NOINVERT,SHIFT,CONTROL
  83,IDM_FILE_SAVEAS,VIRTKEY,NOINVERT,CONTROL,ALT
  115,IDM_FILE_CLOSE,VIRTKEY,NOINVERT,CONTROL
  80,IDM_FILE_PRINT,VIRTKEY,NOINVERT,CONTROL
  115,IDM_FILE_CLOSE_ALL,VIRTKEY,NOINVERT,SHIFT,CONTROL
  66,IDM_EDIT_BLOCKMODE,VIRTKEY,NOINVERT,CONTROL
  66,IDM_EDIT_BLOCKINSERT,VIRTKEY,NOINVERT,SHIFT,CONTROL
  117,IDM_EDIT_NEXTERROR,VIRTKEY,NOINVERT
  117,IDM_EDIT_CLEARERRORS,VIRTKEY,NOINVERT,CONTROL
  84,IDM_DEBUG_TOGGLE,VIRTKEY,NOINVERT,CONTROL
  84,IDM_DEBUG_CLEAR,VIRTKEY,NOINVERT,SHIFT,CONTROL
  118,IDM_DEBUG_RUN,VIRTKEY,NOINVERT,SHIFT
  118,IDM_DEBUG_STOP,VIRTKEY,NOINVERT,ALT
  118,IDM_DEBUG_INTO,VIRTKEY,NOINVERT
  118,IDM_DEBUG_OVER,VIRTKEY,NOINVERT,CONTROL
  118,IDM_DEBUG_CARET,VIRTKEY,NOINVERT,SHIFT,CONTROL
  118,IDM_DEBUG_BREAK,VIRTKEY,NOINVERT,CONTROL,ALT
  116,IDM_MAKE_BUILD,VIRTKEY,NOINVERT,ALT
  113,IDM_EDIT_GOTO,VIRTKEY,NOINVERT
  113,IDM_EDIT_RETURN,VIRTKEY,NOINVERT,CONTROL
  85,IDM_EDIT_BLOCKUPPER,VIRTKEY,NOINVERT,CONTROL
  76,IDM_EDIT_BLOCKLOWER,VIRTKEY,NOINVERT,CONTROL
  9,IDM_VIEW_NEXTTAB,VIRTKEY,NOINVERT,CONTROL
  9,IDM_VIEW_PREVIOUSTAB,VIRTKEY,NOINVERT,SHIFT,CONTROL
END
