#include "Res/RAResEdRes.rc"
#include "Res/RAResEdVer.rc"
#include "Res/IncludeEditDlg.rc"
#include "Res/ResourceEditDlg.rc"
#include "Res/StringEditDlg.rc"
#include "Res/AccelEditDlg.rc"
#include "Res/NameEditDlg.rc"
#include "Res/MenuEditDlg.rc"
#include "Res/VersionEditDlg.rc"
#include "Res/LanguageEditDlg.rc"
#include "Res/StyleManaDlg.rc"
#include "Res/XPManifestEditDlg.rc"
#include "Res/RCDataEditDlg.rc"
#include "Res/ToolbarEditDlg.rc"
#include "Res/ResPreviewDlg.rc"
#include "Res/ResPreviewBtnDlg.rc"
#include "Res/ResPreviewCtlDlg.rc"
#include "Res/MnuPreviewDlg.rc"
#include "Res/LanguageEditChildDlg.rc"
