#define IDR_MENUCONTEXT 21000
#define IDM_TABTOOL 21001
#define IDM_FILE_CLOSE_ALL_BUT 21002
#define IDM_OUTPUT 21003
#define IDM_OUTPUT_CLEAR 21004
#define IDM_IMMEDIATE 21012
#define IDM_IMMEDIATE_CLEAR 21013
#define IDM_BROWSER 21005
#define IDM_BROWSER_OPEN 21006
#define IDM_BROWSER_COPY 21007
#define IDM_RESOURCE 21008
#define IDM_PROPERTY 21009
#define IDM_PROPERTY_GOTODECLARE 21010
#define IDM_PROPERTY_COPYTOCODE 21011
#define IDM_PROPERTY_COPYPROTO 21014
#define IDM_PROJECT 21015
#define IDM_PROJECT_ADDITEM 21023
#define IDM_PROJECT_ADDGROUP 21016
#define IDM_PROJECT_ADDFILE 21019
#define IDM_PROJECT_ADDALLFILES 21020
#define IDM_PROJECT_ADDEXISTINGFILE 21027
#define IDM_PROJECT_ADDNEWFILE 21028
#define IDM_PROJECT_REMOVEITEM 21024
#define IDM_PROJECT_REMOVEGROUP 21017
#define IDM_PROJECT_REMOVEFILE 21021
#define IDM_PROJECT_EDITITEM 21025
#define IDM_PROJECT_EDITGROUP 21018
#define IDM_PROJECT_EDITFILE 21026
IDR_MENUCONTEXT MENUEX
BEGIN
  POPUP "TabTool",IDM_TABTOOL
  BEGIN
    MENUITEM "Close Tab",IDM_FILE_CLOSE
    MENUITEM "Close All Tabs",IDM_FILE_CLOSE_ALL
    MENUITEM "Close All but This",IDM_FILE_CLOSE_ALL_BUT
  END
  POPUP "Oitput",IDM_OUTPUT
  BEGIN
    MENUITEM "Clear Output",IDM_OUTPUT_CLEAR
    MENUITEM "Hide Output",IDM_VIEW_OUTPUT
  END
  POPUP "Immediate",IDM_IMMEDIATE
  BEGIN
    MENUITEM "Clear Immediate",IDM_IMMEDIATE_CLEAR
    MENUITEM "Hide Immediate",IDM_VIEW_OUTPUT
  END
  POPUP "Browser",IDM_BROWSER
  BEGIN
    MENUITEM "Open",IDM_BROWSER_OPEN
    MENUITEM "Copy Name To Code",IDM_BROWSER_COPY
    MENUITEM "Hide File Browser",IDM_VIEW_FILEBROWSER
  END
  POPUP "Resource",IDM_RESOURCE
  BEGIN
    MENUITEM "Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "Redo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "Copy\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "",,0x00000800
    MENUITEM "Lock Controls",IDM_FORMAT_LOCK
    MENUITEM "Send To Baxk",IDM_FORMAT_BACK
    MENUITEM "Bring To Front",IDM_FORMAT_FRONT
    MENUITEM "Show Grid",IDM_FORMAT_GRID,,0x00000008
    MENUITEM "Snap to Grid",IDM_FORMAT_SNAP,,0x00000008
    MENUITEM "",,0x00000800
    POPUP "Align Controls",IDM_FORMAT_ALIGN
    BEGIN
      MENUITEM "Left",IDM_FORMAT_ALIGN_LEFT
      MENUITEM "Center",IDM_FORMAT_ALIGN_CENTER
      MENUITEM "Right",IDM_FORMAT_ALIGN_RIGHT
      MENUITEM "",,0x00000800
      MENUITEM "Top",IDM_FORMAT_ALIGN_TOP
      MENUITEM "Middle",IDM_FORMAT_ALIGN_MIDDLE
      MENUITEM "Bottom",IDM_FORMAT_ALIGN_BOTTOM
    END
    POPUP "Same Size",IDM_FORMAT_SIZE
    BEGIN
      MENUITEM "Width",IDM_FORMAT_SIZE_WIDTH
      MENUITEM "Height",IDM_FORMAT_SIZE_HEIGHT
      MENUITEM "Both",IDM_FORMAT_SIZE_BOTH
    END
    POPUP "Center in Dialog",IDM_FORMAT_CENTER
    BEGIN
      MENUITEM "Horizontal",IDM_FORMAT_CENTER_HOR
      MENUITEM "Vertical",IDM_FORMAT_CENTER_VERT
    END
    MENUITEM "Set Tabindex",IDM_FORMAT_TABINDEX
  END
  POPUP "Property",IDM_PROPERTY
  BEGIN
    MENUITEM "Goto Declare",IDM_PROPERTY_GOTODECLARE
    MENUITEM "Copy To Code",IDM_PROPERTY_COPYTOCODE
    MENUITEM "Copy PROTO To Code",IDM_PROPERTY_COPYPROTO
    MENUITEM "Hide Property",IDM_VIEW_FILEBROWSER
  END
  POPUP "Project",IDM_PROJECT
  BEGIN
    POPUP "Add Item",IDM_PROJECT_ADDITEM
    BEGIN
      MENUITEM "Project Group",IDM_PROJECT_ADDGROUP
      MENUITEM "",,0x00000800
      MENUITEM "Current Open File",IDM_PROJECT_ADDFILE
      MENUITEM "All Open Files",IDM_PROJECT_ADDALLFILES
      MENUITEM "",,0x00000800
      MENUITEM "Existing Files",IDM_PROJECT_ADDEXISTINGFILE
      MENUITEM "New File",IDM_PROJECT_ADDNEWFILE
    END
    POPUP "Remove Item",IDM_PROJECT_REMOVEITEM
    BEGIN
      MENUITEM "Selected Group",IDM_PROJECT_REMOVEGROUP
      MENUITEM "Selected File",IDM_PROJECT_REMOVEFILE
    END
    POPUP "Edit Item",IDM_PROJECT_EDITITEM
    BEGIN
      MENUITEM "Selected Groip",IDM_PROJECT_EDITGROUP
      MENUITEM "Selected File",IDM_PROJECT_EDITFILE
    END
  END
END
