#define IDM_MENU 10000
#define IDM_FILE 11000
#define IDM_FILE_NEW 10001
#define IDM_FILE_NEW_RES 10007
#define IDM_FILE_OPEN 10002
#define IDM_FILE_OPEN_HEX 10022
#define IDM_FILE_SAVE 10003
#define IDM_FILE_SAVEAS 10004
#define IDM_FILE_SAVEALL 10011
#define IDM_FILE_CLOSE 10010
#define IDM_FILE_CLOSE_ALL 10058
#define IDM_FILE_PAGESETUP 10029
#define IDM_FILE_PRINT 10005
#define IDM_FILE_RECENTFILES 10094
#define IDM_FILE_RECENT_SESSIONS 10095
#define IDM_FILE_EXIT 10006
#define IDM_EDIT 11001
#define IDM_EDIT_UNDO 10101
#define IDM_EDIT_REDO 10102
#define IDM_EDIT_DELETE 10103
#define IDM_EDIT_CUT 10104
#define IDM_EDIT_COPY 10105
#define IDM_EDIT_PASTE 10106
#define IDM_EDIT_SELECTALL 10107
#define IDM_EDIT_FIND 10108
#define IDM_EDIT_FINDNEXT 10110
#define IDM_EDIT_FINDPREV 10111
#define IDM_EDIT_REPLACE 10109
#define IDM_EDIT_GOTO 10091
#define IDM_EDIT_RETURN 10092
#define IDM_EDIT_BLOCK 10060
#define IDM_EDIT_INDENT 10037
#define IDM_EDIT_OUTDENT 10038
#define IDM_EDIT_COMMENT 10035
#define IDM_EDIT_UNCOMMENT 10036
#define IDM_EDIT_BLOCKCONVERT 10096
#define IDM_EDIT_BLOCKUPPER 10097
#define IDM_EDIT_BLOCKLOWER 10098
#define IDM_EDIT_BLOCKTABTOSPC 10099
#define IDM_EDIT_BLOCKSPCTOTAB 10100
#define IDM_EDIT_BLOCKSPCTRIM 10112
#define IDM_EDIT_BLOCKMODE 10061
#define IDM_EDIT_BLOCKINSERT 10062
#define IDM_EDIT_TOGGLEBM 10018
#define IDM_EDIT_NEXTBM 10019
#define IDM_EDIT_PREVBM 10020
#define IDM_EDIT_CLEARBM 10021
#define IDM_EDIT_NEXTERROR 10075
#define IDM_EDIT_CLEARERRORS 10074
#define IDM_FORMAT 11002
#define IDM_FORMAT_LOCK 10012
#define IDM_FORMAT_BACK 10013
#define IDM_FORMAT_FRONT 10014
#define IDM_FORMAT_GRID 10015
#define IDM_FORMAT_SNAP 10016
#define IDM_FORMAT_ALIGN 10017
#define IDM_FORMAT_ALIGN_LEFT 10034
#define IDM_FORMAT_ALIGN_CENTER 10042
#define IDM_FORMAT_ALIGN_RIGHT 10043
#define IDM_FORMAT_ALIGN_TOP 10044
#define IDM_FORMAT_ALIGN_MIDDLE 10045
#define IDM_FORMAT_ALIGN_BOTTOM 10046
#define IDM_FORMAT_SIZE 10033
#define IDM_FORMAT_SIZE_WIDTH 10039
#define IDM_FORMAT_SIZE_HEIGHT 10040
#define IDM_FORMAT_SIZE_BOTH 10041
#define IDM_FORMAT_CENTER 10066
#define IDM_FORMAT_CENTER_HOR 10067
#define IDM_FORMAT_CENTER_VERT 10068
#define IDM_FORMAT_TABINDEX 10069
#define IDM_PROJECT_CREATE 21022
#define IDM_PROJECT_OPEN 10114
#define IDM_PROJECT_CLOSE 10115
#define IDM_VIEW 11003
#define IDM_VIEW_TOOLBAR 10008
#define IDM_VIEW_STATUSBAR 10009
#define IDM_VIEW_OUTPUT 10023
#define IDM_VIEW_FILEBROWSER 10059
#define IDM_VIEW_DIALOG 10065
#define IDM_VIEW_NEXTTAB 10116
#define IDM_VIEW_PREVIOUSTAB 10117
#define IDM_RESOURCE 11004
#define IDM_RESOURCE_DIALOG 10048
#define IDM_RESOURCE_MENU 10049
#define IDM_RESOURCE_ACCEL 10050
#define IDM_RESOURCE_VERINF 10051
#define IDM_RESOURCE_STRING 10054
#define IDM_RESOURCE_MANIFEST 10071
#define IDM_RESOURCE_RCDATA 10072
#define IDM_RESOURCE_TOOLBAR 10073
#define IDM_RESOURCE_LANGUAGE 10064
#define IDM_RESOURCE_INCLUDE 10052
#define IDM_RESOURCE_RESOURCE 10053
#define IDM_RESOURCE_NAME 10055
#define IDM_RESOURCE_EXPORT 10063
#define IDM_RESOURCE_REMOVE 10056
#define IDM_RESOURCE_UNDO 10057
#define IDM_MAKE 11004
#define IDM_MAKE_COMPILE 10024
#define IDM_MAKE_ASSEMBLE 10025
#define IDM_MAKE_LINK 10026
#define IDM_MAKE_BUILD 10090
#define IDM_MAKE_RUN 10027
#define IDM_MAKE_GO 10028
#define IDM_MAKE_MAINFILE 10079
#define IDM_DEBUG 10113
#define IDM_DEBUG_TOGGLE 10082
#define IDM_DEBUG_CLEAR 10083
#define IDM_DEBUG_RUN 10081
#define IDM_DEBUG_BREAK 10089
#define IDM_DEBUG_STOP 10084
#define IDM_DEBUG_INTO 10085
#define IDM_DEBUG_OVER 10086
#define IDM_DEBUG_CARET 10087
#define IDM_DEBUG_NODEBUG 10088
#define IDM_TOOLS 11005
#define IDM_TOOLS_EMPTY 20000
#define IDM_OPTIONS 11006
#define IDM_OPTION_CODE 10030
#define IDM_OPTION_DIALOG 10047
#define IDM_OPTION_PATH 10080
#define IDM_OPTION_BUILD 10070
#define IDM_OPTION_ADDINS 10093
#define IDM_OPTION_TOOLS 10031
#define IDM_OPTION_HELP 10032
#define IDM_OPTION_EXTERNAL 10076
#define IDM_HELP 11007
#define IDM_HELP_ABOUT 10201
#define IDM_HELP_EMPTY 30000
IDM_MENU MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    MENUITEM "&New Code File\tCtrl+N",IDM_FILE_NEW
    MENUITEM "New &Resource File",IDM_FILE_NEW_RES
    MENUITEM "",,0x00000800
    MENUITEM "&Open\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "Open as &Hex",IDM_FILE_OPEN_HEX
    MENUITEM "",,0x00000800
    MENUITEM "&Save\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "Save &As ...\tAlt+Ctrl+S",IDM_FILE_SAVEAS
    MENUITEM "Save All\tCtrl+Shift+S",IDM_FILE_SAVEALL
    MENUITEM "",,0x00000800
    MENUITEM "&Close\tCtrl+F4",IDM_FILE_CLOSE
    MENUITEM "Close All\tCtrl+Shift+F4",IDM_FILE_CLOSE_ALL
    MENUITEM "",,0x00000800
    MENUITEM "P&age Setup",IDM_FILE_PAGESETUP
    MENUITEM "&Print\tCtrl+P",IDM_FILE_PRINT
    MENUITEM "",,0x00000800
    POPUP "Recent Files",IDM_FILE_RECENTFILES
    BEGIN
      MENUITEM "(Empty)",25000,,0x00000003
    END
    POPUP "Recent Projects",IDM_FILE_RECENT_SESSIONS
    BEGIN
      MENUITEM "(Empty)",25100,,0x00000003
    END
    MENUITEM "",,0x00000800
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit",IDM_EDIT
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "R&edo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM "",,0x00000800
    MENUITEM "&Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "Cop&y\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "Select &All\tCtrl+A",IDM_EDIT_SELECTALL
    MENUITEM "",,0x00000800
    MENUITEM "&Find...\tCtrl+F",IDM_EDIT_FIND
    MENUITEM "Find &Next\tF3",IDM_EDIT_FINDNEXT
    MENUITEM "Find &Previous\tCtrl+F3",IDM_EDIT_FINDPREV
    MENUITEM "&Replace...\tCtrl+R",IDM_EDIT_REPLACE
    MENUITEM "",,0x00000800
    MENUITEM "&Goto Declare\tF2",IDM_EDIT_GOTO
    MENUITEM "Return\tCtrl+F2",IDM_EDIT_RETURN
    MENUITEM "",,0x00000800
    POPUP "&Block",IDM_EDIT_BLOCK
    BEGIN
      MENUITEM "&Indent\tTab",IDM_EDIT_INDENT
      MENUITEM "&Outdent\tShift+Tab",IDM_EDIT_OUTDENT
      MENUITEM "&Comment\tF9",IDM_EDIT_COMMENT
      MENUITEM "&Uncomment\tCtrl+F9",IDM_EDIT_UNCOMMENT
      POPUP "Convert",IDM_EDIT_BLOCKCONVERT
      BEGIN
        MENUITEM "&Uppercase\tCtrl+U",IDM_EDIT_BLOCKUPPER
        MENUITEM "&Lowercase\tCtrl+L",IDM_EDIT_BLOCKLOWER
        MENUITEM "Tab to Spaces",IDM_EDIT_BLOCKTABTOSPC
        MENUITEM "Spaces To Tab",IDM_EDIT_BLOCKSPCTOTAB
      END
      MENUITEM "Trim Trailing Spaces",IDM_EDIT_BLOCKSPCTRIM
      MENUITEM "&Block / Column Mode\tCtrl+B",IDM_EDIT_BLOCKMODE
      MENUITEM "Block Insert / &Replace\tCtrl+Shift+B",IDM_EDIT_BLOCKINSERT
    END
    MENUITEM "",,0x00000800
    MENUITEM "&Toggle bookmark\tShift+F8",IDM_EDIT_TOGGLEBM
    MENUITEM "&Next bookmark\tF8",IDM_EDIT_NEXTBM
    MENUITEM "&Previous bookmark\tCtrl+F8",IDM_EDIT_PREVBM
    MENUITEM "Clear &bookmarks\tCtrl+Shift+F8",IDM_EDIT_CLEARBM
    MENUITEM "",,0x00000800
    MENUITEM "Next Error\tF6",IDM_EDIT_NEXTERROR
    MENUITEM "Clear Errors\tCtrl+F6",IDM_EDIT_CLEARERRORS
  END
  POPUP "&Format",IDM_FORMAT
  BEGIN
    MENUITEM "&Lock Controls",IDM_FORMAT_LOCK
    MENUITEM "Send to &Back",IDM_FORMAT_BACK
    MENUITEM "Bring to &Front",IDM_FORMAT_FRONT
    MENUITEM "Show &Grid",IDM_FORMAT_GRID
    MENUITEM "&Snap to Grid",IDM_FORMAT_SNAP
    MENUITEM "",,0x00000800
    POPUP "&Align Controls",IDM_FORMAT_ALIGN
    BEGIN
      MENUITEM "&Left",IDM_FORMAT_ALIGN_LEFT
      MENUITEM "&Center",IDM_FORMAT_ALIGN_CENTER
      MENUITEM "&Right",IDM_FORMAT_ALIGN_RIGHT
      MENUITEM "",,0x00000800
      MENUITEM "&Top",IDM_FORMAT_ALIGN_TOP
      MENUITEM "&Middle",IDM_FORMAT_ALIGN_MIDDLE
      MENUITEM "&Bottom",IDM_FORMAT_ALIGN_BOTTOM
    END
    POPUP "Sa&me Size",IDM_FORMAT_SIZE
    BEGIN
      MENUITEM "&Width",IDM_FORMAT_SIZE_WIDTH
      MENUITEM "&Height",IDM_FORMAT_SIZE_HEIGHT
      MENUITEM "&Both",IDM_FORMAT_SIZE_BOTH
    END
    POPUP "&Center in Dialog",IDM_FORMAT_CENTER
    BEGIN
      MENUITEM "&Horizontal",IDM_FORMAT_CENTER_HOR
      MENUITEM "&Vertical",IDM_FORMAT_CENTER_VERT
    END
    MENUITEM "&Set tabindex",IDM_FORMAT_TABINDEX
  END
  POPUP "&Project",21015
  BEGIN
    MENUITEM "Create Project",IDM_PROJECT_CREATE
    MENUITEM "Open Project",IDM_PROJECT_OPEN
    MENUITEM "Close Project",IDM_PROJECT_CLOSE
    MENUITEM "",,0x00000800
    POPUP "Add Item",21023
    BEGIN
      MENUITEM "Project Groip",21016
      MENUITEM "",,0x00000800
      MENUITEM "Current Open File",21019
      MENUITEM "All Open Files",21020
      MENUITEM "",,0x00000800
      MENUITEM "Existing Files",21027
      MENUITEM "New File",21028
    END
    POPUP "Remove Item",21024
    BEGIN
      MENUITEM "Selected Group",21017
      MENUITEM "Selected File",21021
    END
  END
  POPUP "&View",IDM_VIEW
  BEGIN
    MENUITEM "&Toolbar",IDM_VIEW_TOOLBAR
    MENUITEM "&Statusbar",IDM_VIEW_STATUSBAR
    MENUITEM "&Output",IDM_VIEW_OUTPUT
    MENUITEM "&File Browser",IDM_VIEW_FILEBROWSER
    MENUITEM "&Dialog Preview",IDM_VIEW_DIALOG
    MENUITEM "",,0x00000800
    MENUITEM "Next Tab\tCtrl+Tab",IDM_VIEW_NEXTTAB
    MENUITEM "Previous Tab\tCtrl+Shift+Tab",IDM_VIEW_PREVIOUSTAB
  END
  POPUP "&Resource",IDM_RESOURCE
  BEGIN
    MENUITEM "Add &Dialog",IDM_RESOURCE_DIALOG
    MENUITEM "Add &Menu",IDM_RESOURCE_MENU
    MENUITEM "Add &Acceleratortable",IDM_RESOURCE_ACCEL
    MENUITEM "Add &Versioninfo",IDM_RESOURCE_VERINF
    MENUITEM "Add &Stringtable",IDM_RESOURCE_STRING
    MENUITEM "Add &XP Manifest",IDM_RESOURCE_MANIFEST
    MENUITEM "Add &RCData",IDM_RESOURCE_RCDATA
    MENUITEM "Add &Toolbar",IDM_RESOURCE_TOOLBAR
    MENUITEM "&Language",IDM_RESOURCE_LANGUAGE
    MENUITEM "&Include files",IDM_RESOURCE_INCLUDE
    MENUITEM "&Resourcee files",IDM_RESOURCE_RESOURCE
    MENUITEM "&Names",IDM_RESOURCE_NAME
    MENUITEM "&Export names",IDM_RESOURCE_EXPORT
    MENUITEM "",,0x00000800
    MENUITEM "R&emove",IDM_RESOURCE_REMOVE
    MENUITEM "&Undo Remove",IDM_RESOURCE_UNDO
  END
  POPUP "&Make",IDM_MAKE
  BEGIN
    MENUITEM "&Compile RC\tShift+F5",IDM_MAKE_COMPILE
    MENUITEM "&Assemble\tF5",IDM_MAKE_ASSEMBLE
    MENUITEM "&Link\tAlt+Ctrl+F5",IDM_MAKE_LINK
    MENUITEM "&Build\tAlt+F5",IDM_MAKE_BUILD
    MENUITEM "",,0x00000800
    MENUITEM "&Run\tCtrl+Shift+F5",IDM_MAKE_RUN
    MENUITEM "",,0x00000800
    MENUITEM "&Go\tCtrl+F5",IDM_MAKE_GO
    MENUITEM "",,0x00000800
    MENUITEM "Set Current as &Mainfile",IDM_MAKE_MAINFILE
  END
  POPUP "&Debug",IDM_DEBUG
  BEGIN
    MENUITEM "&Toggle Breakpoint\tCtrl+T",IDM_DEBUG_TOGGLE
    MENUITEM "&Clear Breakpoints\tCtrl+Shift+T",IDM_DEBUG_CLEAR
    MENUITEM "",,0x00000800
    MENUITEM "&Run\tShift+F7",IDM_DEBUG_RUN
    MENUITEM "&Break\tAlt+Ctrl+F7",IDM_DEBUG_BREAK
    MENUITEM "&Stop\tAlt+F7",IDM_DEBUG_STOP
    MENUITEM "",,0x00000800
    MENUITEM "Step &Into\tF7",IDM_DEBUG_INTO
    MENUITEM "Step &Over\tCtrl+F7",IDM_DEBUG_OVER
    MENUITEM "R&un To Caret\tCtrl+Shift+F7",IDM_DEBUG_CARET
    MENUITEM "",,0x00000800
    MENUITEM "&Do Not Debug",IDM_DEBUG_NODEBUG
  END
  POPUP "&Tools",IDM_TOOLS
  BEGIN
    MENUITEM "(Empty)",IDM_TOOLS_EMPTY,,0x00000001
  END
  POPUP "&Option",IDM_OPTIONS
  BEGIN
    MENUITEM "&Code Editor",IDM_OPTION_CODE
    MENUITEM "&Dialog Editor",IDM_OPTION_DIALOG
    MENUITEM "&Path Options",IDM_OPTION_PATH
    MENUITEM "&Make Options",IDM_OPTION_BUILD
    MENUITEM "&Addin Manager",IDM_OPTION_ADDINS
    MENUITEM "",,0x00000800
    MENUITEM "&Tools menu",IDM_OPTION_TOOLS
    MENUITEM "&Help menu",IDM_OPTION_HELP
    MENUITEM "&External Files",IDM_OPTION_EXTERNAL
  END
  POPUP "&Help",IDM_HELP
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
    MENUITEM "",,0x00000800
    MENUITEM "(Empty)",IDM_HELP_EMPTY,,0x00000001
  END
END
