#define IDD_DLGSAVEUNICODE 9000
#define IDC_CHKUNICODE 1001
IDD_DLGSAVEUNICODE DIALOGEX 0,0,124,20
FONT 9,"MS Sans Serif",400,0
STYLE 0x56000000
EXSTYLE 0x00000000
BEGIN
  CONTROL "Save As Unicode",IDC_CHKUNICODE,"Button",0x50010003,4,1,116,9,0x00000000
END
