#define IDD_DLGACCEL 1300
#define IDC_BTNACLADD 1002
#define IDC_BTNACLDEL 1003
#define IDC_GRDACL 1001

IDD_DLGACCEL DIALOGEX 6,6,318,176
FONT 8,"MS Shell Dlg 2",0,0,0
STYLE 0x52000000
BEGIN
  CONTROL "Add",IDC_BTNACLADD,"Button",0x50010000,272,1,42,13
  CONTROL "Delete",IDC_BTNACLDEL,"Button",0x50010000,272,18,42,13
  CONTROL "",IDC_GRDACL,"RAGrid",0x5001000C,2,1,266,172,0x00000200
END

