#define IDD_DLGSTRING 1200
#define IDC_BTNSTRADD 1002
#define IDC_BTNSTRDEL 1003
#define IDC_GRDRES 1001

IDD_DLGSTRING DIALOGEX 6,6,318,176
FONT 8,"MS Shell Dlg 2",0,0,0
STYLE 0x52000000
BEGIN
  CONTROL "Add",IDC_BTNSTRADD,"Button",0x50010000,272,1,42,13
  CONTROL "Delete",IDC_BTNSTRDEL,"Button",0x50010000,272,18,42,13
  CONTROL "",IDC_GRDRES,"RAGrid",0x5001000C,2,1,264,159,0x00000200
END

