#define IDB_MNUARROW					32101
#define IDB_DLG							32102
#define IDB_CUSTCTL						32106
#define IDB_BOOKMARK					32108
#define IDB_PROTRV						32107
#define IDC_HSPLIT						32109
#define IDC_VSPLIT						32110
#define IDB_TOOLBOX						32100
IDB_MNUARROW			BITMAP    DISCARDABLE "Res/MnuArrow.bmp"
IDB_DLG					BITMAP    DISCARDABLE "Res/dlg.bmp"
IDB_CUSTCTL				BITMAP    DISCARDABLE "Res/Button.bmp"
IDB_BOOKMARK			BITMAP    DISCARDABLE "Res/Bookmark.bmp"
IDB_PROTRV				BITMAP    DISCARDABLE "Res/ProTrv.bmp"
32106					ICON      DISCARDABLE "Res/ResEd.ico"
IDC_HSPLIT				CURSOR    DISCARDABLE "Res/SplitH.cur"
IDC_VSPLIT				CURSOR    DISCARDABLE "Res/SplitV.cur"
IDB_TOOLBOX				BITMAP    DISCARDABLE "Res/ToolBox.bmp"
101						CURSOR    DISCARDABLE "Res/SplitH.cur"
102						BITMAP    DISCARDABLE "Res/RAEditBookmark.bmp"
103						CURSOR    DISCARDABLE "Res/Select.cur"
104						BITMAP    DISCARDABLE "Res/Linenumber.bmp"
105						BITMAP    DISCARDABLE "Res/Expand.bmp"
106						BITMAP    DISCARDABLE "Res/Collapse.bmp"
107						BITMAP    DISCARDABLE "Res/Lock.bmp"
