#define IDD_DLGLNG 30000
#define IDC_EDTLNGFILE 30001
#define IDC_BTNFILE 30002
#define IDC_BTNLNGSAVE 30003
#define IDC_BTNLNGNEW 30004
#define IDC_EDTLNGLANG 30005
#define IDC_LSTLNGDIALOG 30006
#define IDD_DLGMENU 30100
#define IDD_DLGTEST 30200

#include "../FbEdit/Res/FbEdit.rc"

IDD_DLGLNG DIALOGEX 6, 5, 465, 273
CAPTION "FbEdit language translation"
FONT 8, "MS Sans Serif", 400, 0, 0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "", IDC_EDTLNGFILE, "Edit", 0x50010800, 0, 1, 214, 13, 0x00000200
  CONTROL "...", IDC_BTNFILE, "Button", 0x50010000, 216, 1, 12, 11
  CONTROL "Save", IDC_BTNLNGSAVE, "Button", 0x50010000, 238, 1, 54, 13
  CONTROL "New", IDC_BTNLNGNEW, "Button", 0x50010000, 296, 1, 54, 13
  CONTROL "", IDC_EDTLNGLANG, "Edit", 0x503110C4, 0, 20, 346, 251, 0x00000200
  CONTROL "Dialogs / Menus (dbl click to test)", -1, "Static", 0x50000000, 350, 22, 114, 9
  CONTROL "", IDC_LSTLNGDIALOG, "ListBox", 0x50010141, 348, 31, 116, 242, 0x00000200
  CONTROL "", -1, "Static", 0x50000010, 0, 18, 466, 2
END

IDD_DLGMENU DIALOGEX 6, 6, 352, 105
CAPTION "Menu tester"
FONT 8, "MS Sans Serif", 0, 0, 0
STYLE 0x10C80880
EXSTYLE 0x00000201
BEGIN
END

IDD_DLGTEST DIALOGEX 6, 6, 341, 190
CAPTION "Test container for child dialogs"
FONT 8, "MS Sans Serif", 0, 0, 0
STYLE 0x10CC0080
EXSTYLE 0x00000001
BEGIN
END

