1 24 DISCARDABLE "Res\\xptheme.xml"
#define IDM_HELPF1						500

#include <res\HexEdMnu.rc>
#include <res\HexEdDlg.rc>
#include <res\FindDlg.rc>
#include <Res\MenuOptionDlg.rc>
#include <Res\ColorOptionDlg.rc>
#include "Res/HexEdVer.rc"
#include "Res/AboutDlg.rc"
#include "Res/HexEdRes.rc"

STRINGTABLE DISCARDABLE
BEGIN
  IDM_FILE_PRINT	"Print"
  IDM_FILE_NEW		"New file"
  IDM_FILE_OPEN		"Open file"
  IDM_FILE_SAVE		"Save file"
  IDM_FILE_SAVEALL	"Save all files"
  IDM_EDIT_CUT		"Cut"
  IDM_EDIT_COPY		"Copy"
  IDM_EDIT_PASTE	"Paste"
  IDM_EDIT_UNDO		"Undo"
  IDM_EDIT_REDO		"Redo"
  IDM_EDIT_DELETE	"Delete"
  IDM_EDIT_FIND		"Find"
  IDM_EDIT_REPLACE	"Replace"
  IDM_EDIT_TOGGLEBM	"Toggle bookmark"
  IDM_EDIT_NEXTBM	"Next bookmark"
  IDM_EDIT_PREVBM	"Previous bookmark"
  IDM_EDIT_CLEARBM	"Clear bookmarks"
END

#define VK_TAB		0x09
#define VK_F1		0x70
#define VK_F3		0x72
#define VK_F8		0x77
#define IDR_ACCEL	200
IDR_ACCEL ACCELERATORS DISCARDABLE 
BEGIN
  "N",		IDM_FILE_NEW,			VIRTKEY,CONTROL,NOINVERT
  "O",		IDM_FILE_OPEN,			VIRTKEY,CONTROL,NOINVERT
  "S",		IDM_FILE_SAVE,			VIRTKEY,CONTROL,NOINVERT
  "F",		IDM_EDIT_FIND,			VIRTKEY,CONTROL,NOINVERT
  "R",		IDM_EDIT_REPLACE,		VIRTKEY,CONTROL,NOINVERT
  VK_F1,	IDM_HELPF1,				VIRTKEY,NOINVERT
  VK_F3,	IDM_EDIT_FINDNEXT,		VIRTKEY,NOINVERT
  VK_F3,	IDM_EDIT_FINDPREV,		VIRTKEY,CONTROL,NOINVERT
  VK_F8,	IDM_EDIT_TOGGLEBM,		VIRTKEY,SHIFT,NOINVERT
  VK_F8,	IDM_EDIT_NEXTBM,		VIRTKEY,NOINVERT
  VK_F8,	IDM_EDIT_PREVBM,		VIRTKEY,CONTROL,NOINVERT
  VK_F8,	IDM_EDIT_CLEARBM,		VIRTKEY,SHIFT,CONTROL,NOINVERT
END


