STRINGTABLE DISCARDABLE
BEGIN
  IDM_FILE_NEW_PROJECT		"New project"
  IDM_FILE_OPEN_PROJECT		"Open project"
  IDM_FILE_SAVE_PROJECT		"Save project"
  IDM_EDIT_CUT				"Cut"
  IDM_EDIT_COPY				"Copy"
  IDM_EDIT_PASTE			"Paste"
  IDM_EDIT_DELETE			"Delete"
  IDM_EDIT_UNDO				"Undo"
  IDM_VIEW_OUTPUT			"Show / Hide Output"
  IDM_VIEW_PREVIEW			"Preview Dialog"
  IDM_EDIT_REDO				"Redo"
  IDM_EDIT_FIND				"Find"
  IDM_EDIT_REPLACE			"Replace"
END
