#define IDR_ACCEL						105
IDR_ACCEL ACCELERATORS DISCARDABLE
BEGIN
  78,IDM_FILE_NEW_PROJECT,VIRTKEY,NOINVERT,CONTROL
  79,IDM_FILE_OPEN_PROJECT,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE_PROJECT,VIRTKEY,NOINVERT,CONTROL
  83,IDM_FILE_SAVE_PROJECT_AS,VIRTKEY,NOINVERT,SHIFT,CONTROL
  69,IDM_PROJECT_EXPORT,VIRTKEY,NOINVERT,CONTROL
  115,IDM_FILE_CLOSE_PROJECT,VIRTKEY,NOINVERT
  90,IDM_EDIT_UNDO,VIRTKEY,NOINVERT,CONTROL
  89,IDM_EDIT_REDO,VIRTKEY,NOINVERT,CONTROL
  70,IDM_EDIT_FIND,VIRTKEY,NOINVERT,CONTROL
  82,IDM_EDIT_REPLACE,VIRTKEY,NOINVERT,CONTROL
END
