#define IDR_VERSION1 1

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
      VALUE "FileDescription", "Finds unreferenced\0"
      VALUE "LegalCopyright", "KetilO (C) 2010\0"
      VALUE "OriginalFilename", "Unreferenced.dll\0"
      VALUE "ProductName", "Unreferenced\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

