#define IDD_DIALOG1 101
#define IDC_RAP 1001
IDD_DIALOG1 DIALOGEX 6,6,194,153
CAPTION "Project Browser"
FONT 8,"MS Sans Serif",0,0
STYLE 0x12CC0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_RAP,"RAPROJECT",0x50000001,0,0,194,153,0x00000000
END
