#define IDD_MAIN 101
#define IDC_CHKAUTO 103
#define IDC_BTNSAMPLE 102
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDD_DLGFREQUENCY 1100
#define IDC_UDCFREQUENCYCHA 1101
#define IDC_UDCFREQUENCYCHB 1102
#define IDC_UDCVOLTSDVMA 1103
#define IDC_UDCVOLTSDVMB 1104
#define IDR_MENU1 10000
#define IDM_FILE 10001
#define IDM_FILE_OPEN 10002
#define IDM_FILE_OPEN_SCOPECHA 10022
#define IDM_FILE_OPEN_SCOPECHA 10023
#define IDM_FILE_SAVE 10004
#define IDM_FILE_SAVE_SCOPECHA 10024
#define IDM_FILE_SAVE_SCOPECHB 10025
#define IDM_FILE_EXIT 10006
#define IDM_VIEW 10007
#define IDM_VIEW_SCOPECHA 10008
#define IDM_VIEW_SCOPECHB 10009
#define IDM_VIEW_SCOPECHACHB 10010
#define IDM_VIEW_WAVECHA 10012
#define IDM_VIEW_WAVECHB 10013
#define IDM_VIEW_WAVECHACHB 10014
#define IDM_VIEW_HSCLOCKCHA 10005
#define IDM_VIEW_HSCLOCKCHB 10026
#define IDM_VIEW_HSCLOCKCHACHB 10027
#define IDM_VIEW_DDSWAVE 10003
#define IDM_VIEW_LOGICANALYSER 10011
#define IDM_SETUP 10017
#define IDM_SETUP_SCOPE 10018
#define IDM_SETUP_WAVEFORM 10019
#define IDM_SETUP_HIGHSPEEDCLOCK 10021
#define IDM_SETUP_DDSWAVE 10028
#define IDM_SETUP_LOGICANALYSER 10020
#define IDM_HELP 10015
#define IDM_HELP_ABOUT 10016
#define IDD_DLGWAVEGENERATOR 1300
#define IDC_UDCWAVEGENERATOR 1301
#define IDD_DLGLOGICANALYSER 1400
#define IDC_UDCLOGICANALYSER 1401
#define IDD_DLGSCOPETOOL 1500
#define IDC_TRBXMAG 1503
#define IDC_TRBYMAG 1501
#define IDC_CHKSUBSAMPLE 1506
#define IDC_CHKPERIODS 1505
#define IDD_DLGSCOPESETUP 1200
#define IDC_RBNTRIGMANUAL 1201
#define IDC_RBNRISINGCHA 1202
#define IDC_RBNFALLINGCHA 1203
#define IDC_RBNRISINGCHB 1204
#define IDC_RBNFALLINGCHB 1205
#define IDC_RBNTRIGLGA 1206
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_TRBTRIGLEVELCHA 1207
#define IDC_TRBDCNULLOUTCHA 1208
#define IDC_TRBAMPLIFYCHA 1213
#define IDC_TRBTRIGLEVELCHB 1212
#define IDC_TRBDCNULLOUTCHB 1211
#define IDC_TRBAMPLIFYCHB 1215
#define IDC_CBOSAMPLERATE 1209
#define IDC_TRBBUFFERSIZE 1210
#define IDD_DLGLGATOOL 1600
#define IDC_TRBLGAXMAG 1601
#define IDD_DLGLGASETUP 1700
#define IDC_RBNLGAMANUAL 1704
#define IDC_RBNLGARISINGCHA 1705
#define IDC_RBNTRGFALLINGCHA 1706
#define IDC_RBNLGARISINGCHB 1707
#define IDC_RBNLGAFALLINGCHB 1708
#define IDC_RBNLGALGA 1709
#define IDC_CHKLGAEDGE 1703
#define IDC_CHKLGATRIGALL 1729
#define IDC_CHKLGATRIGD0 1720
#define IDC_CHKLGATRIGD1 1721
#define IDC_CHKLGATRIGD2 1722
#define IDC_CHKLGATRIGD3 1723
#define IDC_CHKLGATRIGD4 1724
#define IDC_CHKLGATRIGD5 1725
#define IDC_CHKLGATRIGD6 1726
#define IDC_CHKLGATRIGD7 1727
#define IDC_CHKLGAMASKALL 1739
#define IDC_CHKLGAMASKD0 1730
#define IDC_CHKLGAMASKD1 1731
#define IDC_CHKLGAMASKD2 1732
#define IDC_CHKIDC_CHKLGAMASKD3 1733
#define IDC_CHKLGAMASKD4 1734
#define IDC_CHKLGAMASKD5 1735
#define IDC_CHKLGAMASKD6 1736
#define IDC_CHKLGAMASKD7 1737
#define IDC_CBOLGASAMPLERATE 1701
#define IDC_TRBLGABUFFERSIZE 1702
#define IDD_DLGWAVETOOL 1800
#define IDC_TRBWAVEXMAG 1801
#define IDC_TRBWAVEYMAG 1802
#define IDD_DLGWAVESETUP 1900
#define IDC_CHKWAVEAENABLE 1907
#define IDC_RBNWAVEANOISE 1910
#define IDC_RBNWAVEATRIANGLE 1911
#define IDC_RBNWAVEASQUARE 1912
#define IDC_RBNWAVEASIN 1913
#define IDC_RBNWAVEAFILE 1914
#define IDC_CHKWAVEABUFFERED 1901
#define IDC_STCWAVEAAMPLITUDE 1903
#define IDC_TRBWAVEAAMPLITUDE 1915
#define IDC_STCWAVEADC 1904
#define IDC_TRBWAVEADC 1916
#define IDC_TRBWAVEAFREQUENCYH 1917
#define IDC_TRBWAVEAFREQUENCYL 1909
#define IDC_EDTWAVEAFILE 1918
#define IDC_BTNWAVEAFILE 1919
#define IDC_CHKWAVEBENABLE 1908
#define IDC_RBNWAVEBNOISE 1920
#define IDC_RBNWAVEBTRIANGLE 1921
#define IDC_RBNWAVEBSQUARE 1922
#define IDC_RBNWAVEBSIN 1923
#define IDC_RBNWAVEBFILE 1924
#define IDC_CHKWAVEBBUFFERED 1902
#define IDC_STCWAVEBAMPLITUDE 1905
#define IDC_TRBWAVEBAMPLITUDE 1925
#define IDC_STCWAVEBDC 1906
#define IDC_TRBWAVEBDC 1926
#define IDC_TRBWAVEBFREQUENCYH 1927
#define IDC_TRBWAVEBFREQUENCYL 1930
#define IDC_EDTWAVEBFILE 1928
#define IDC_BTNWAVEBFILE 1929
#define IDD_DLGSCOPE 2000
#define IDC_UDCSCOPE 2001
#define IDD_DLGHSCLOCKSETUP 2100
#define IDC_CHKHSCLOCKAENABLE 2104
#define IDC_TRBHSCLOCKADIV 2105
#define IDC_TRBHSCLOCKAH 2101
#define IDC_TRBHSCLOCKL 2102
#define IDC_TRBHSCLOCKADUTY 2103
#define IDC_CHKHSCLOCKBENABLE 2113
#define IDC_TRBHSCLOCKBDIV 2111
#define IDC_TRBHSCLOCKBH 2109
#define IDC_TRBHSCLOCKBL 2108
#define IDC_TRBHSCLOCKBDUTY 2106
#define IDD_DLGHSCLOCKTOOL 2200
#define IDC_TRBHSCLOCKXMAG 2201
#define IDD_DLGHSCLOCK 2300
#define IDC_UDCHSCLOCK 2301
#define IDD_DLGDDSWAVE 2400
#define IDC_UDCDDSWAVE 2401
#define IDC_UDCDDSPEAK 2402
#define IDD_DLGDDSWAVESETUP 2600
#define IDC_CHKDDSENABLE 2606
#define IDC_CHKDDSBUFFERED 2607
#define IDC_CBODDSWAVE 2601
#define IDC_TRBDDSAMP 2605
#define IDC_TRBDDSDCOFS 2602
#define IDC_TRBDDSFRQH 2604
#define IDC_TRBDDSFRQL 2603
#define IDC_EDTDDSFREQUENCY 2608
#define IDC_BTNDDSSET 2609
#define IDC_RBNSWEEPOFF 2610
#define IDC_RBNSWEEPUP 2611
#define IDC_RBNSWEEPDOWN 2612
#define IDC_RBNSWEEPUPDOWN 2613
#define IDC_RBNSWEEPPEAK 2614
#define IDC_EDTSWEEPSIZE 2616
#define IDC_EDTSWEEPTIME 2617
#define IDC_EDTSWEEPCOUNT 2618
#define IDC_BTNSWEEPSET 2615
#define IDD_DLGDDSWAVETOOL 2500
#define IDD_DLGDDSWAVEGENERATOR 9000
#define IDC_EDTDDSWAVEDATA 9001

#include "/masm32/include/RESOURCE.H"

IDD_MAIN DIALOGEX 6,6,558,354
CAPTION "STM32 Digital Oscilloscope"
FONT 8,"Tahoma",0,0,0
MENU IDR_MENU1
STYLE 0x16CF0880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Auto Sample",IDC_CHKAUTO,"Button",0x50010003,501,306,54,9
  CONTROL "Sample",IDC_BTNSAMPLE,"Button",0x50010000,501,318,54,15
  CONTROL "Exit",IDCANCEL,"Button",0x50010000,501,336,54,15
END

IDD_DLGFREQUENCY DIALOGEX 0,0,471,36
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x56000000
BEGIN
  CONTROL "0Hz",IDC_UDCFREQUENCYCHA,"TEXTCLASS",0x56000000,3,3,108,30,0x00020000
  CONTROL "0Hz",IDC_UDCFREQUENCYCHB,"TEXTCLASS",0x56000000,120,3,108,30,0x00020000
  CONTROL "0.000V",IDC_UDCVOLTSDVMA,"TEXTCLASS",0x56000000,237,3,108,30,0x00020000
  CONTROL "0.000V",IDC_UDCVOLTSDVMB,"TEXTCLASS",0x56000000,354,3,108,30,0x00020000
END

IDR_MENU1 MENUEX
BEGIN
  POPUP "&File",IDM_FILE
  BEGIN
    POPUP "&Open File",IDM_FILE_OPEN
    BEGIN
      MENUITEM "Scope CHA",IDM_FILE_OPEN_SCOPECHA
      MENUITEM "Scope CHB",IDM_FILE_OPEN_SCOPECHA
    END
    MENUITEM "",,0x00000800
    POPUP "&Save File",IDM_FILE_SAVE
    BEGIN
      MENUITEM "Scope CHA",IDM_FILE_SAVE_SCOPECHA
      MENUITEM "Scope CHB",IDM_FILE_SAVE_SCOPECHB
    END
    MENUITEM "",,0x00000800
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
  POPUP "&View",IDM_VIEW
  BEGIN
    MENUITEM "Scope CH&A",IDM_VIEW_SCOPECHA
    MENUITEM "Scope CH&B",IDM_VIEW_SCOPECHB
    MENUITEM "&Scope CHA+CHB",IDM_VIEW_SCOPECHACHB
    MENUITEM "&Waveform Generator CHA",IDM_VIEW_WAVECHA
    MENUITEM "Waveform &Generator CHB",IDM_VIEW_WAVECHB
    MENUITEM "Waveform Generator &CHA+CHB",IDM_VIEW_WAVECHACHB
    MENUITEM "&High Speed Clock CHA",IDM_VIEW_HSCLOCKCHA
    MENUITEM "&High Speed Clock CHB",IDM_VIEW_HSCLOCKCHB
    MENUITEM "&High Speed Clock CHA+CHB",IDM_VIEW_HSCLOCKCHACHB
    MENUITEM "&DDS Waveform Generator",IDM_VIEW_DDSWAVE
    MENUITEM "&Logic Analyser",IDM_VIEW_LOGICANALYSER
  END
  POPUP "&Setup",IDM_SETUP
  BEGIN
    MENUITEM "&Scope",IDM_SETUP_SCOPE
    MENUITEM "&Waveform Generator",IDM_SETUP_WAVEFORM
    MENUITEM "&High Speed Clock",IDM_SETUP_HIGHSPEEDCLOCK
    MENUITEM "&DDS Wave Generator",IDM_SETUP_DDSWAVE
    MENUITEM "&Logic Analyser",IDM_SETUP_LOGICANALYSER
  END
  POPUP "&Help",IDM_HELP
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
  END
END

IDD_DLGWAVEGENERATOR DIALOGEX 0,0,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46000000
BEGIN
  CONTROL "",IDC_UDCWAVEGENERATOR,"WAVEGENERATORCLASS",0x50300000,0,0,417,273,0x00000200
END

IDD_DLGLOGICANALYSER DIALOGEX 0,0,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46000000
BEGIN
  CONTROL "",IDC_UDCLOGICANALYSER,"LOGICANALYSERCLASS",0x50100000,0,0,417,273,0x00000200
END

IDD_DLGSCOPETOOL DIALOGEX 0,0,87,114
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50000000
BEGIN
  CONTROL "X-Magnify",-1,"Button",0x50000007,3,0,84,36
  CONTROL "",IDC_TRBXMAG,"msctls_trackbar32",0x50010008,6,12,78,21
  CONTROL "Y-Magnify",-1,"Button",0x50000007,3,36,84,36
  CONTROL "",IDC_TRBYMAG,"msctls_trackbar32",0x50010008,6,48,78,21
  CONTROL "Subsampling",IDC_CHKSUBSAMPLE,"Button",0x50010003,9,81,69,12
  CONTROL "Show 2 periods",IDC_CHKPERIODS,"Button",0x50010003,9,93,69,12
END

IDD_DLGSCOPESETUP DIALOGEX 10,10,246,177
CAPTION "Scope Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "Trigger",-1,"Button",0x50000007,3,0,240,120
  CONTROL "Manual",IDC_RBNTRIGMANUAL,"Button",0x50010009,9,15,63,9
  CONTROL "Rising edge CHA",IDC_RBNRISINGCHA,"Button",0x50010009,9,27,69,9
  CONTROL "Falling edge CHA",IDC_RBNFALLINGCHA,"Button",0x50010009,9,39,69,9
  CONTROL "Rising edge CHB",IDC_RBNRISINGCHB,"Button",0x50010009,9,51,69,9
  CONTROL "Falling edge CHB",IDC_RBNFALLINGCHB,"Button",0x50010009,9,63,69,9
  CONTROL "Logic Analyser",IDC_RBNTRIGLGA,"Button",0x50010009,9,75,69,9
  CONTROL "",IDC_STATIC,"Static",0x50000011,81,6,3,111
  CONTROL "Trigger Level CHA",IDC_STATIC,"Static",0x50000000,90,9,63,9
  CONTROL "",IDC_TRBTRIGLEVELCHA,"msctls_trackbar32",0x50010108,84,21,75,24
  CONTROL "DC Offset CHA",IDC_STATIC,"Static",0x50000000,90,48,63,9
  CONTROL "",IDC_TRBDCNULLOUTCHA,"msctls_trackbar32",0x50010108,84,57,75,24
  CONTROL "Amplification CHA",IDC_STATIC,"Static",0x50000000,90,84,63,9
  CONTROL "",IDC_TRBAMPLIFYCHA,"msctls_trackbar32",0x50010108,84,93,75,24
  CONTROL "",IDC_STATIC,"Static",0x50000011,159,6,3,111
  CONTROL "Trigger Level CHB",IDC_STATIC,"Static",0x50000000,168,9,63,9
  CONTROL "",IDC_TRBTRIGLEVELCHB,"msctls_trackbar32",0x50010108,162,21,75,24
  CONTROL "DC Offset CHB",IDC_STATIC,"Static",0x50000000,168,48,63,9
  CONTROL "",IDC_TRBDCNULLOUTCHB,"msctls_trackbar32",0x50010108,162,57,75,24
  CONTROL "Amplification CHB",IDC_STATIC,"Static",0x50000000,168,84,63,9
  CONTROL "",IDC_TRBAMPLIFYCHB,"msctls_trackbar32",0x50010108,162,93,75,24
  CONTROL "Sample Rate",-1,"Button",0x50000007,3,120,117,36
  CONTROL "",IDC_CBOSAMPLERATE,"ComboBox",0x50210003,9,135,105,102
  CONTROL "Buffer Size",-1,"Button",0x50000007,123,120,120,36
  CONTROL "",IDC_TRBBUFFERSIZE,"msctls_trackbar32",0x50010108,126,129,114,21
  CONTROL "Close",IDCANCEL,"Button",0x50010000,186,159,54,15
END

IDD_DLGLGATOOL DIALOGEX 0,0,87,114
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50080000
BEGIN
  CONTROL "X-Magnify",-1,"Button",0x50000007,3,0,84,36
  CONTROL "",IDC_TRBLGAXMAG,"msctls_trackbar32",0x50010008,6,12,78,21
END

IDD_DLGLGASETUP DIALOGEX 10,10,249,159
CAPTION "Logic Analyser Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "Trigger Select",-1,"Button",0x50000007,3,0,81,99
  CONTROL "Manual",IDC_RBNLGAMANUAL,"Button",0x50010009,9,12,63,9
  CONTROL "Rising edge CHA",IDC_RBNLGARISINGCHA,"Button",0x50010009,9,24,69,9
  CONTROL "Falling edge CHA",IDC_RBNTRGFALLINGCHA,"Button",0x50010009,9,36,69,9
  CONTROL "Rising edge CHB",IDC_RBNLGARISINGCHB,"Button",0x50010009,9,48,69,9
  CONTROL "Falling edge CHB",IDC_RBNLGAFALLINGCHB,"Button",0x50010009,9,60,69,9
  CONTROL "",IDC_STATIC,"Static",0x50000010,6,72,72,0
  CONTROL "Logic Analyser",IDC_RBNLGALGA,"Button",0x50010009,9,75,69,9
  CONTROL "Edge Sensitive",IDC_CHKLGAEDGE,"Button",0x50010003,9,84,69,9
  CONTROL "Trigger Value",-1,"Button",0x50000007,87,0,78,99
  CONTROL "Clear / Set all",IDC_CHKLGATRIGALL,"Button",0x50010023,93,12,57,9
  CONTROL "D0",IDC_CHKLGATRIGD0,"Button",0x50010023,138,24,21,9
  CONTROL "D1",IDC_CHKLGATRIGD1,"Button",0x50010023,138,33,21,9
  CONTROL "D2",IDC_CHKLGATRIGD2,"Button",0x50010023,138,42,21,9
  CONTROL "D3",IDC_CHKLGATRIGD3,"Button",0x50010023,138,51,21,9
  CONTROL "D4",IDC_CHKLGATRIGD4,"Button",0x50010023,138,60,21,9
  CONTROL "D5",IDC_CHKLGATRIGD5,"Button",0x50010023,138,69,21,9
  CONTROL "D6",IDC_CHKLGATRIGD6,"Button",0x50010023,138,78,21,9
  CONTROL "D7",IDC_CHKLGATRIGD7,"Button",0x50010023,138,87,21,9
  CONTROL "Trigger Mask",-1,"Button",0x50000007,168,0,78,99
  CONTROL "Clear / Set all",IDC_CHKLGAMASKALL,"Button",0x50010023,174,12,57,9
  CONTROL "D0",IDC_CHKLGAMASKD0,"Button",0x50010023,219,24,21,9
  CONTROL "D1",IDC_CHKLGAMASKD1,"Button",0x50010023,219,33,21,9
  CONTROL "D2",IDC_CHKLGAMASKD2,"Button",0x50010023,219,42,21,9
  CONTROL "D3",IDC_CHKIDC_CHKLGAMASKD3,"Button",0x50010023,219,51,21,9
  CONTROL "D4",IDC_CHKLGAMASKD4,"Button",0x50010023,219,60,21,9
  CONTROL "D5",IDC_CHKLGAMASKD5,"Button",0x50010023,219,69,21,9
  CONTROL "D6",IDC_CHKLGAMASKD6,"Button",0x50010023,219,78,21,9
  CONTROL "D7",IDC_CHKLGAMASKD7,"Button",0x50010023,219,87,21,9
  CONTROL "Sample Rate",-1,"Button",0x50000007,3,99,120,36
  CONTROL "",IDC_CBOLGASAMPLERATE,"ComboBox",0x50210003,9,114,108,102
  CONTROL "Buffer Size",-1,"Button",0x50000007,126,99,120,36
  CONTROL "",IDC_TRBLGABUFFERSIZE,"msctls_trackbar32",0x50010108,129,108,114,21
  CONTROL "Close",IDCANCEL,"Button",0x50010000,189,141,54,15
END

IDD_DLGWAVETOOL DIALOGEX 0,0,87,114
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50000000
BEGIN
  CONTROL "X-Magnify",-1,"Button",0x50000007,3,0,84,36
  CONTROL "",IDC_TRBWAVEXMAG,"msctls_trackbar32",0x50010008,6,12,78,21
  CONTROL "Y-Magnify",-1,"Button",0x50000007,3,36,84,36
  CONTROL "",IDC_TRBWAVEYMAG,"msctls_trackbar32",0x50010008,6,48,78,21
END

IDD_DLGWAVESETUP DIALOGEX 10,10,291,201
CAPTION "Wave Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "Wave Channel A",-1,"Button",0x50000007,3,0,141,180
  CONTROL "Enable Output",IDC_CHKWAVEAENABLE,"Button",0x50010003,6,9,132,9
  CONTROL "Noise Generation",IDC_RBNWAVEANOISE,"Button",0x50030009,6,21,132,9
  CONTROL "Triangle Wave",IDC_RBNWAVEATRIANGLE,"Button",0x50010009,6,30,132,9
  CONTROL "Square Wave",IDC_RBNWAVEASQUARE,"Button",0x50010009,6,39,132,9
  CONTROL "Sin Wave *",IDC_RBNWAVEASIN,"Button",0x50010009,6,48,132,9
  CONTROL "Wave File *",IDC_RBNWAVEAFILE,"Button",0x50010009,6,57,132,9
  CONTROL "Buffered Output",IDC_CHKWAVEABUFFERED,"Button",0x50010003,6,69,132,9
  CONTROL "Amplitude:",IDC_STCWAVEAAMPLITUDE,"Static",0x50000000,6,87,36,9
  CONTROL "",IDC_TRBWAVEAAMPLITUDE,"msctls_trackbar32",0x50010508,42,78,99,21
  CONTROL "DC Offset:",IDC_STCWAVEADC,"Static",0x50000000,6,111,36,9
  CONTROL "",IDC_TRBWAVEADC,"msctls_trackbar32",0x50010508,42,102,99,21
  CONTROL "Frequency:",IDC_STATIC,"Static",0x50000000,6,132,36,9
  CONTROL "",IDC_TRBWAVEAFREQUENCYH,"msctls_trackbar32",0x50010108,42,126,51,21
  CONTROL "",IDC_TRBWAVEAFREQUENCYL,"msctls_trackbar32",0x50010108,90,126,51,21
  CONTROL "Wave File:",IDC_STATIC,"Static",0x50000000,6,150,105,9
  CONTROL "",IDC_EDTWAVEAFILE,"Edit",0x50010080,6,162,120,12,0x00000200
  CONTROL "...",IDC_BTNWAVEAFILE,"Button",0x50010000,126,162,15,12
  CONTROL "Wave Channel B",-1,"Button",0x50000007,147,0,141,180
  CONTROL "Enable Output",IDC_CHKWAVEBENABLE,"Button",0x50010003,150,9,132,9
  CONTROL "Noise Generation",IDC_RBNWAVEBNOISE,"Button",0x50030009,150,21,132,9
  CONTROL "Triangle Wave",IDC_RBNWAVEBTRIANGLE,"Button",0x50010009,150,30,132,9
  CONTROL "Square Wave",IDC_RBNWAVEBSQUARE,"Button",0x50010009,150,39,132,9
  CONTROL "Sin Wave *",IDC_RBNWAVEBSIN,"Button",0x50010009,150,48,132,9
  CONTROL "Wave File *",IDC_RBNWAVEBFILE,"Button",0x50010009,150,57,132,9
  CONTROL "Buffered Output",IDC_CHKWAVEBBUFFERED,"Button",0x50010003,150,69,132,9
  CONTROL "Amplitude:",IDC_STCWAVEBAMPLITUDE,"Static",0x50000000,150,87,36,9
  CONTROL "",IDC_TRBWAVEBAMPLITUDE,"msctls_trackbar32",0x50010508,186,78,99,21
  CONTROL "DC Offset:",IDC_STCWAVEBDC,"Static",0x50000000,150,111,36,9
  CONTROL "",IDC_TRBWAVEBDC,"msctls_trackbar32",0x50010508,186,102,99,21
  CONTROL "Frequency:",IDC_STATIC,"Static",0x50000000,150,132,36,9
  CONTROL "",IDC_TRBWAVEBFREQUENCYH,"msctls_trackbar32",0x50010108,186,126,51,21
  CONTROL "",IDC_TRBWAVEBFREQUENCYL,"msctls_trackbar32",0x50010108,234,126,51,21
  CONTROL "Wave File:",IDC_STATIC,"Static",0x50000000,150,150,105,9
  CONTROL "",IDC_EDTWAVEBFILE,"Edit",0x50010080,150,162,120,12,0x00000200
  CONTROL "...",IDC_BTNWAVEBFILE,"Button",0x50010000,270,162,15,12
  CONTROL "Close",IDCANCEL,"Button",0x50010000,231,183,54,15
  CONTROL "* Scope and Logic Analyser disabled.",IDC_STATIC,"Static",0x50000000,6,186,219,9
END

IDD_DLGSCOPE DIALOGEX 0,0,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "",IDC_UDCSCOPE,"SCOPECLASS",0x50300000,0,0,417,273,0x00000200
END

IDD_DLGHSCLOCKSETUP DIALOGEX 10,10,297,114
CAPTION "High Speed Clock Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "High Speed Clock CHA",-1,"Button",0x50000007,3,3,144,90
  CONTROL "Enable Output",IDC_CHKHSCLOCKAENABLE,"Button",0x50010003,9,15,132,9
  CONTROL "",IDC_TRBHSCLOCKADIV,"msctls_trackbar32",0x50010508,48,27,96,21
  CONTROL "",IDC_TRBHSCLOCKAH,"msctls_trackbar32",0x50010108,48,48,48,21
  CONTROL "",IDC_TRBHSCLOCKL,"msctls_trackbar32",0x50010108,96,48,48,21
  CONTROL "",IDC_TRBHSCLOCKADUTY,"msctls_trackbar32",0x50010508,48,69,96,21
  CONTROL "High Speed Clock CHB",-1,"Button",0x50000007,150,3,144,90
  CONTROL "Enable Output",IDC_CHKHSCLOCKBENABLE,"Button",0x50010003,156,15,132,9
  CONTROL "",IDC_TRBHSCLOCKBDIV,"msctls_trackbar32",0x50010508,195,27,96,21
  CONTROL "",IDC_TRBHSCLOCKBH,"msctls_trackbar32",0x50010108,195,48,48,21
  CONTROL "",IDC_TRBHSCLOCKBL,"msctls_trackbar32",0x50010108,243,48,48,21
  CONTROL "",IDC_TRBHSCLOCKBDUTY,"msctls_trackbar32",0x50010508,195,69,96,21
  CONTROL "Close",IDCANCEL,"Button",0x50010000,237,96,54,15
  CONTROL "Clock Div:",IDC_STATIC,"Static",0x50000000,6,36,42,9
  CONTROL "Clock Div:",IDC_STATIC,"Static",0x50000000,153,36,42,9
  CONTROL "Frequency:",IDC_STATIC,"Static",0x50000000,6,57,42,9
  CONTROL "Frequency:",IDC_STATIC,"Static",0x50000000,153,57,42,9
  CONTROL "Pulse Width:",IDC_STATIC,"Static",0x50000000,6,78,42,9
  CONTROL "Pulse Width:",IDC_STATIC,"Static",0x50000000,153,78,42,9
END

IDD_DLGHSCLOCKTOOL DIALOGEX 0,0,87,114
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50000000
BEGIN
  CONTROL "X-Magnify",-1,"Button",0x50000007,3,0,84,36
  CONTROL "",IDC_TRBHSCLOCKXMAG,"msctls_trackbar32",0x50010008,6,12,78,21
END

IDD_DLGHSCLOCK DIALOGEX 0,0,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46080000
BEGIN
  CONTROL "",IDC_UDCHSCLOCK,"HSCLOCKCLASS",0x50100000,0,0,417,273,0x00000200
END

IDD_DLGDDSWAVE DIALOGEX 10,10,423,279
FONT 8,"MS Sans Serif",0,0,0
STYLE NOT 0x10000000|0x46000000
BEGIN
  CONTROL "",IDC_UDCDDSWAVE,"DDSWAVECLASS",0x50300000,0,0,417,135,0x00000200
  CONTROL "",IDC_UDCDDSPEAK,"DDSPEAKCLASS",NOT WS_VISIBLE|0x40000000,0,135,417,138,0x00000200
END

IDD_DLGDDSWAVESETUP DIALOGEX 10,10,210,243
CAPTION "DDS Wave Generator Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
  CONTROL "Wave Form",-1,"Button",0x50000007,3,0,204,54
  CONTROL "Enable Output",IDC_CHKDDSENABLE,"Button",0x50010003,9,12,192,9
  CONTROL "Buffered Output",IDC_CHKDDSBUFFERED,"Button",0x50010003,9,24,192,9
  CONTROL "",IDC_CBODDSWAVE,"ComboBox",0x50210003,9,36,192,102
  CONTROL "Amplitude",-1,"Button",0x50000007,3,54,204,63
  CONTROL "Amplitude:",IDC_STATIC,"Static",0x50000000,9,75,36,9
  CONTROL "",IDC_TRBDDSAMP,"msctls_trackbar32",0x50010508,45,66,159,21
  CONTROL "DC Offset:",IDC_STATIC,"Static",0x50000000,9,99,36,9
  CONTROL "",IDC_TRBDDSDCOFS,"msctls_trackbar32",0x50010508,45,90,159,21
  CONTROL "Frequency",-1,"Button",0x50000007,3,117,204,54
  CONTROL "",IDC_TRBDDSFRQH,"msctls_trackbar32",0x50010108,9,129,93,21
  CONTROL "",IDC_TRBDDSFRQL,"msctls_trackbar32",0x50010108,108,129,93,21
  CONTROL "Frequency (Hz):",IDC_STATIC,"Static",0x50000000,63,156,54,9
  CONTROL "",IDC_EDTDDSFREQUENCY,"Edit",0x50012002,117,153,51,12,0x00000200
  CONTROL "Set",IDC_BTNDDSSET,"Button",0x58010000,171,153,30,12
  CONTROL "Sweep",-1,"Button",0x50000007,6,171,204,51
  CONTROL "Off",IDC_RBNSWEEPOFF,"Button",0x50010009,12,183,24,9
  CONTROL "Up",IDC_RBNSWEEPUP,"Button",0x50010009,36,183,27,9
  CONTROL "Down",IDC_RBNSWEEPDOWN,"Button",0x50010009,63,183,36,9
  CONTROL "Up && Down",IDC_RBNSWEEPUPDOWN,"Button",0x50010009,99,183,51,9
  CONTROL "Peak Detect",IDC_RBNSWEEPPEAK,"Button",0x50010009,150,183,54,9
  CONTROL "Step size (Hz):",IDC_STATIC,"Static",0x50000000,12,195,48,9
  CONTROL "",IDC_EDTSWEEPSIZE,"Edit",0x50012002,12,204,51,12,0x00000200
  CONTROL "Step Time (ms):",IDC_STATIC,"Static",0x50000000,66,195,54,9
  CONTROL "",IDC_EDTSWEEPTIME,"Edit",0x50012002,66,204,51,12,0x00000200
  CONTROL "Step count:",IDC_STATIC,"Static",0x50000000,120,195,48,9
  CONTROL "",IDC_EDTSWEEPCOUNT,"Edit",0x50012002,120,204,51,12,0x00000200
  CONTROL "Set",IDC_BTNSWEEPSET,"Button",0x58010000,174,204,30,12
  CONTROL "Close",IDCANCEL,"Button",0x50010000,153,225,54,15
END

IDD_DLGDDSWAVETOOL DIALOGEX 0,0,87,114
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x50000000
BEGIN
END

IDD_DLGDDSWAVEGENERATOR DIALOGEX 10,10,366,228
CAPTION "DDS Wave Data"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "",IDC_EDTDDSWAVEDATA,"Edit",0x503108C4,0,0,366,228,0x00000200
END

