#define IDD_MAIN 101
#define IDC_RBNUPRA 103
#define IDC_RBNOWRA 104
#define IDC_RBNUPLANG 105
#define IDC_RBNOWLANG 106
#define IDC_CHKOWTEMPLATES 102
#define IDC_CHKOWSNIPLETS 108
#define IDC_EDTLOG 107
#define IDR_VERSION1 1

IDD_MAIN DIALOGEX 6,6,285,177
CAPTION "Update RadASM"
FONT 8,"Tahoma",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Update file handling",-1,"Button",0x50000007,3,0,279,93
  CONTROL "Update RadASM.ini",IDC_RBNUPRA,"Button",0x50030009,9,12,267,9
  CONTROL "Overwrite RadASM.ini",IDC_RBNOWRA,"Button",0x50010009,9,24,267,9
  CONTROL "Update programming languages",IDC_RBNUPLANG,"Button",0x50030009,9,39,267,9
  CONTROL "Overwrite  programming languages",IDC_RBNOWLANG,"Button",0x50010009,9,51,267,9
  CONTROL "Overwrite existing templates",IDC_CHKOWTEMPLATES,"Button",0x50010003,9,66,267,9
  CONTROL "Overwrite existing sniplets",IDC_CHKOWSNIPLETS,"Button",0x50010003,9,78,267,9
  CONTROL "",IDC_EDTLOG,"Edit",0x502108C4,3,96,279,63,0x00000200
  CONTROL "Exit",2,"Button",0x50010000,179,162,48,13
  CONTROL "OK",1,"Button",0x58010000,231,162,48,13
END

IDR_VERSION1 VERSIONINFO
FILEVERSION 3,0,0,8
PRODUCTVERSION 3,0,0,8
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "FileVersion", "3.0.0.8\0"
      VALUE "ProductVersion", "3.0.0.8\0"
      VALUE "FileDescription", "RadASM 3.0 Updater\0"
      VALUE "InternalName", "UpdateRadASM.exe\0"
      VALUE "LegalCopyright", "KetilO (C) 2010\0"
      VALUE "OriginalFilename", "UpdateRadASM.exe\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04E4
  END
END

