#define IDD_DIALOG1 101
#define IDC_IMG1 1001
#define IDC_CBOTYPE 1008
#define IDC_EDTSOURCE 1002
#define IDC_BTNSOURCE 1003
#define IDC_EDTDEST 1005
#define IDC_BTNDEST 1004
#define IDC_BTNCOMBINE 1007
#define IDC_BTNCONVERT 1009
#define IDR_MENU 10000
#define IDM_FILE_EXIT 10003
#define IDB_BLACK 100

IDD_DIALOG1 DIALOGEX 6,6,428,276
CAPTION "Combine Map Tiles"
FONT 8,"MS Sans Serif",0,0,0
MENU 10000
STYLE 0x16C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "#100",IDC_IMG1,"Static",0x5000020E,0,0,426,216,0x00000200
  CONTROL "",IDC_CBOTYPE,"ComboBox",0x50210203,72,219,276,87
  CONTROL "Source folder:",-1,"Static",0x50000000,2,243,63,9
  CONTROL "",IDC_EDTSOURCE,"Edit",0x50010000,70,239,260,13,0x00000200
  CONTROL "...",IDC_BTNSOURCE,"Button",0x50010000,332,239,14,13
  CONTROL "Destination folder:",-1,"Static",0x50000000,2,261,63,9
  CONTROL "",IDC_EDTDEST,"Edit",0x50010000,70,258,260,13,0x00000200
  CONTROL "...",IDC_BTNDEST,"Button",0x50010000,332,258,14,13
  CONTROL "Combine Tiles",IDC_BTNCOMBINE,"Button",0x50010F00,370,219,56,15
  CONTROL "Convert Tiles",IDC_BTNCONVERT,"Button",0x50010F00,369,237,56,15
  CONTROL "Exit",2,"Button",0x50010F00,370,256,56,15
END

IDR_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Exit",IDM_FILE_EXIT
  END
END

IDB_BLACK BITMAP DISCARDABLE "Res/black.bmp"

