#define IDM_MENU 10000
#define IDM_FILE_NEW 10001
#define IDM_FILE_OPEN 10002
#define IDM_FILE_SAVE 10003
#define IDM_FILE_SAVEAS 10004
#define IDM_FILE_SAVEALL 10011
#define IDM_FILE_CLOSE 10010
#define IDM_FILE_PRINT 10005
#define IDM_FILE_EXIT 10006
#define IDM_EDIT_UNDO 10101
#define IDM_EDIT_REDO 10102
#define IDM_EDIT_DELETE 10103
#define IDM_EDIT_CUT 10104
#define IDM_EDIT_COPY 10105
#define IDM_EDIT_PASTE 10106
#define IDM_EDIT_SELECTALL 10107
#define IDM_EDIT_FIND 10108
#define IDM_EDIT_FINDNEXT 10110
#define IDM_EDIT_FINDPREV 10111
#define IDM_EDIT_REPLACE 10109
#define IDM_EDIT_TOGGLEBM 10018
#define IDM_EDIT_NEXTBM 10019
#define IDM_EDIT_PREVBM 10020
#define IDM_EDIT_CLEARBM 10021
#define IDM_VIEW_TOOLBAR 10008
#define IDM_VIEW_STATUSBAR 10009
#define IDM_VIEW_SELBAR 10015
#define IDM_VIEW_ADDRESS 10012
#define IDM_VIEW_ASCII 10013
#define IDM_VIEW_UPPERCASE 10014
#define IDM_TOOLS_EMPTY 20000
#define IDM_OPTION_FONT 10007
#define IDM_OPTION_LNFONT 10022
#define IDM_OPTION_COLORS 10023
#define IDM_OPTION_TOOLS 10031
#define IDM_OPTION_HELP 10032
#define IDM_HELP_ABOUT 10201
#define IDM_HELP_EMPTY 30000
IDM_MENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&New\tCtrl+N",IDM_FILE_NEW
    MENUITEM "&Open\tCtrl+O",IDM_FILE_OPEN
    MENUITEM "&Save\tCtrl+S",IDM_FILE_SAVE
    MENUITEM "Save &As ...",IDM_FILE_SAVEAS
    MENUITEM "Save All",IDM_FILE_SAVEALL
    MENUITEM SEPARATOR
    MENUITEM "&Close",IDM_FILE_CLOSE
    MENUITEM SEPARATOR
    MENUITEM "&Print",IDM_FILE_PRINT
    MENUITEM SEPARATOR
    MENUITEM "E&xit\tAlt+F4",IDM_FILE_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo\tCtrl+Z",IDM_EDIT_UNDO
    MENUITEM "R&edo\tCtrl+Y",IDM_EDIT_REDO
    MENUITEM "&Delete\tDel",IDM_EDIT_DELETE
    MENUITEM SEPARATOR
    MENUITEM "&Cut\tCtrl+X",IDM_EDIT_CUT
    MENUITEM "Cop&y\tCtrl+C",IDM_EDIT_COPY
    MENUITEM "&Paste\tCtrl+V",IDM_EDIT_PASTE
    MENUITEM "Select &All\tCtrl+A",IDM_EDIT_SELECTALL
    MENUITEM SEPARATOR
    MENUITEM "&Find...\tCtrl+F",IDM_EDIT_FIND
    MENUITEM "Find &Next\tF3",IDM_EDIT_FINDNEXT
    MENUITEM "Find &Previous\tCtrl+F3",IDM_EDIT_FINDPREV
    MENUITEM "&Replace...\tCtrl+R",IDM_EDIT_REPLACE
    MENUITEM SEPARATOR
    MENUITEM "&Toggle bookmark\tShift+F8",IDM_EDIT_TOGGLEBM
    MENUITEM "&Next bookmark\tF8",IDM_EDIT_NEXTBM
    MENUITEM "&Previous bookmark\tCtrl+F8",IDM_EDIT_PREVBM
    MENUITEM "Clear &bookmarks\tShift+Ctrl+F8",IDM_EDIT_CLEARBM
  END
  POPUP "&View"
  BEGIN
    MENUITEM "&Toolbar",IDM_VIEW_TOOLBAR
    MENUITEM "&Statusbar",IDM_VIEW_STATUSBAR
    MENUITEM "&Selection bar",IDM_VIEW_SELBAR
    MENUITEM "&Address field",IDM_VIEW_ADDRESS
    MENUITEM "&Ascii field",IDM_VIEW_ASCII
    MENUITEM "&Uppercase",IDM_VIEW_UPPERCASE
  END
  POPUP "&Tools"
  BEGIN
    MENUITEM "(Empty)",IDM_TOOLS_EMPTY,GRAYED
  END
  POPUP "&Option"
  BEGIN
    MENUITEM "&Hex Edit Font",IDM_OPTION_FONT
    MENUITEM "&Line Number Font",IDM_OPTION_LNFONT
    MENUITEM "&Colors",IDM_OPTION_COLORS
    MENUITEM SEPARATOR
    MENUITEM "&Tools menu",IDM_OPTION_TOOLS
    MENUITEM "&Help menu",IDM_OPTION_HELP
  END
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_HELP_ABOUT
    MENUITEM SEPARATOR
    MENUITEM "(Empty)",IDM_HELP_EMPTY,GRAYED
  END
END
