#define IDR_MENU 10000
#define IDM_PROJECT 10001
#define IDM_PROJECT_ADDGROUP 10002
#define IDM_PROJECT_DELGROUP 10003
#define IDM_PROJECT_EDITGROUP 10004
IDR_MENU MENUEX
BEGIN
  POPUP "Project",IDM_PROJECT
  BEGIN
    MENUITEM "Add Group",IDM_PROJECT_ADDGROUP
    MENUITEM "Delete Group",IDM_PROJECT_DELGROUP
    MENUITEM "Edit Group",IDM_PROJECT_EDITGROUP
  END
END
