#define IDD_DLGINCLUDE 1000
#define IDC_BTNINCADD 1002
#define IDC_BTNINCDEL 1003
#define IDC_GRDINC 1001

IDD_DLGINCLUDE DIALOGEX 6,6,318,176
FONT 8,"MS Shell Dlg 2",0,0,0
STYLE 0x52000000
BEGIN
  CONTROL "Add",IDC_BTNINCADD,"Button",0x50010000,272,1,42,13
  CONTROL "Delete",IDC_BTNINCDEL,"Button",0x50010000,272,18,42,13
  CONTROL "",IDC_GRDINC,"RAGrid",0x5001000C,2,1,264,157,0x00000200
END

