#define IDD_DLGMNUPREVIEW 1510

IDD_DLGMNUPREVIEW DIALOGEX 6,6,286,106
CAPTION "Menu preview"
FONT 8,"MS Shell Dlg 2",400,0,0
STYLE 0x10CC0080
EXSTYLE 0x00000001
BEGIN
  CONTROL "Close",2,"Button",0x50010000,238,90,42,12
END

