#define IDD_DLGNAMES 1400
#define IDC_BTNNMEADD 1002
#define IDC_BTNNMEDEL 1003
#define IDC_BTNNMEEXPORT 1004
#define IDC_GRDNME 1001

IDD_DLGNAMES DIALOGEX 6,6,188,176
FONT 8,"MS Shell Dlg 2",0,0,0
STYLE 0x52000000
BEGIN
  CONTROL "Add",IDC_BTNNMEADD,"Button",0x50010000,142,1,42,13
  CONTROL "Delete",IDC_BTNNMEDEL,"Button",0x58010000,142,18,42,13
  CONTROL "Export",IDC_BTNNMEEXPORT,"Button",0x50010000,142,40,42,13
  CONTROL "",IDC_GRDNME,"RAGrid",0x5001000C,2,1,134,172,0x00000200
END

