#define IDD_DLGRESOURCE 1100
#define IDC_BTNRESADD 1002
#define IDC_BTNRESDEL 1003
#define IDC_GRDRES 1001
#define IDC_BTNRESPREVIEW 1004
#define IDC_BTNRESEDIT 1005

IDD_DLGRESOURCE DIALOGEX 6,6,318,176
FONT 8,"MS Shell Dlg 2",0,0,0
STYLE 0x52000000
BEGIN
  CONTROL "Add",IDC_BTNRESADD,"Button",0x50010000,272,0,42,13
  CONTROL "Delete",IDC_BTNRESDEL,"Button",0x50010000,272,18,42,13
  CONTROL "Preview",IDC_BTNRESPREVIEW,"Button",0x58010000,272,35,42,13
  CONTROL "Edit",IDC_BTNRESEDIT,"Button",0x58010000,272,51,42,13
  CONTROL "",IDC_GRDRES,"RAGrid",0x5001000C,2,1,264,159,0x00000200
END

