#define IDM_MAP 11001
#define IDD_DIALOG 1000
#define IDC_MAP 1001
#define IDC_BTNZOOMIN 1002
#define IDC_BTNZOOMOUT 1003
#define IDC_EDTNORTH 1005
#define IDC_EDTEAST 1006
#define IDC_CBOGOTOPLACE 1004
#define IDC_CHKLOCK 1007
#define IDC_CHKTRAIL 1008
#define IDC_EDTDIST 1009
#define IDC_STCLAT 1010
#define IDC_STCLON 1011
#define IDC_STCDIST 1012
#define IDC_CHKPAUSE 1013
#define IDC_CHKGRID 1014
#define IDC_EDTBEAR 1015
#define IDC_STCBEAR 1016
#define IDC_SONAR 1017
#define IDC_CHKCHART 1033
#define IDC_SHP3 1018
#define IDC_BTNMAP 1019
#define IDM_MENU 10000
#define IDM_FILE_OPENTRIP 10010
#define IDM_FILE_SAVETRIP 10011
#define IDM_FILE_OPENDIST 10014
#define IDM_FILE_SAVEDIST 10015
#define IDM_FILE_OPENTRAIL 10012
#define IDM_FILE_SAVETRAIL 10013
#define IDM_FILE_EXIT 10001
#define IDM_LOG_START 10005
#define IDM_LOG_END 10006
#define IDM_LOG_REPLAY 10007
#define IDM_LOG_CLEARTRAIL 10017
#define IDM_LOG_STARTSONAR 10022
#define IDM_LOG_ENDSONAR 10023
#define IDM_LOG_REPLAYSONAR 10024
#define IDM_SONARCLEAR 11018
#define IDM_OPTION_SPEED 10002
#define IDM_OPTION_BATTERY 10003
#define IDM_OPTION_AIRTEMP 10004
#define IDM_OPTION_TIME 10016
#define IDM_OPTION_SCALE 10009
#define IDM_OPTION_RANGE 10020
#define IDM_OPTIO_DEPTH 10019
#define IDM_OPTION_WATERTEMP 10021
#define IDM_OPTION_COMPORT 10008
#define IDM_OPTION_SONAR 10025
#define IDM_OPTION_GAIN 10018
#define IDM_CONTEXT 11000
#define IDM_EDITPLACE 11001
#define IDM_ADDPLACE 11002
#define IDM_TRIPPLANNING 11003
#define IDM_DISTANCE 11004
#define IDM_FULLSCREEN 11017
#define IDM_TRIP_DONE 11005
#define IDM_TRIP_SAVE 11006
#define IDM_TRIP_EDIT 11011
#define IDM_TRIP_CLEAR 11007
#define IDM_TRIP_INSERT 11013
#define IDM_TRIP_DELETE 11014
#define IDM_DIST_DONE 11008
#define IDM_DIST_SAVE 11009
#define IDM_DIST_EDIT 11012
#define IDM_DIST_CLEAR 11010
#define IDM_DIST_INSERT 11015
#define IDM_DIST_DELETE 11016
#define IDM_SONARPAUSE 11019
#define IDD_DLGADDPLACE 1100
#ifndef IDC_STATIC
  #define IDC_STATIC -1
#endif
#define IDC_EDTNAME 1101
#define IDC_EDTLONGITUDE 1102
#define IDC_EDTLATTITUDE 1103
#define IDC_CBOFONT 1104
#define IDC_CBOICON 1105
#ifndef IDOK
  #define IDOK 1
#endif
#ifndef IDCANCEL
  #define IDCANCEL 2
#endif
#define IDC_BTNGPS 1106
#define IDC_TRBZOOM 1107
#define IDD_DLGOPTION 1200
#define IDC_CHKSHOW 1201
#define IDC_RBNLEFTTOP 1220
#define IDC_RBNCENTERTOP 1221
#define IDC_RBNRIGHTTOP 1222
#define IDC_RBNLEFTBOTTOM 1223
#define IDC_RBNCENTERBOTTOM 1224
#define IDC_RBNRIGHTBOTTOM 1225
#define IDC_BTNLEFT 1213
#define IDC_BTNUP 1210
#define IDC_BTNRIGHT 1211
#define IDC_BTNDOWN 1212
#define IDC_CBOOVLFONT 1207
#define IDD_DLGTIPLOG 1300
#define IDC_EDTFILE 1302
#define IDC_LSTFILES 1301
#define IDD_DLGCOMPORT 1400
#define IDC_CHKCOMACTIVE 1401
#define IDC_EDTCOMPORT 1402
#define IDC_CBOCOMBAUD 1404
#define IDC_CBOCOMBITS 1405
#define IDC_CBOCOMSTOP 1407
#define IDC_CHKCOMPARITY 1403
#define IDR_ACCEL 1
#define IDD_DLGSONAR 1500
#define IDC_STCGAIN 1521
#define IDC_BTNGD 1502
#define IDC_TRBSONARGAIN 1504
#define IDC_BTNGU 1505
#define IDC_CHKSONARGAIN 1503
#define IDC_STCPING 1536
#define IDC_BTNPD 1511
#define IDC_TRBSONARPING 1510
#define IDC_BTNPU 1508
#define IDC_CHKSONARPING 1509
#define IDC_BTNRD 1516
#define IDC_TRBSONARRANGE 1507
#define IDC_BTNRU 1513
#define IDC_CHKSONARRANGE 1506
#define IDC_BTNFD 1531
#define IDC_TRBSONARFISH 1530
#define IDC_BTNFU 1515
#define IDC_CHKSONARALARM 1514
#define IDC_BTNCD 1518
#define IDC_TRBSONARCHART 1512
#define IDC_BTNCU 1517
#define IDC_CHKCHARTPAUSE 1532
#define IDC_SHP2 1524
#define IDC_BTNND 1520
#define IDC_TRBSONARNOISE 1501
#define IDC_BTNNU 1519
#define IDC_BTNNRD 1535
#define IDC_TRBSONARREJECT 1534
#define IDC_BTNNRU 1533
#define IDC_BTNSSD 1529
#define IDC_TRBSOUNDSPEED 1528
#define IDC_BTNSSU 1523
#define IDC_BTNPTD 1527
#define IDC_TRBPINGTIMER 1526
#define IDC_BTNPTU 1525
#define IDC_SHP1 1522
#define IDD_DLGSONARGAIN 1600
#define IDC_EDTGAINOFS 1608
#define IDC_EDTGAINMAX 1609
#define IDC_BTNCALCULATE 1610
#define IDC_BTNYU 1605
#define IDC_STCY 1607
#define IDC_BTNYD 1602
#define IDC_BTNXD 1604
#define IDC_STCX 1606
#define IDC_BTNXU 1601
#define IDC_CBORANGE 1603

IDD_DIALOG DIALOGEX 6,6,684,420
CAPTION "Navigation"
FONT 8,"MS Sans Serif",0,0,0
CLASS "DLGCLASS"
STYLE 0x16CF0800
BEGIN
  CONTROL "",IDC_MAP,"MAPCLASS",0x56300000,0,12,402,408,0x00000208
  CONTROL "Zoom In",IDC_BTNZOOMIN,"Button",0x50010000,633,12,48,15
  CONTROL "Zoom Out",IDC_BTNZOOMOUT,"Button",0x50010000,633,33,48,15
  CONTROL "",IDC_EDTNORTH,"Static",0x50013282,630,162,51,12
  CONTROL "",IDC_EDTEAST,"Static",0x50013202,630,189,51,12
  CONTROL "",IDC_CBOGOTOPLACE,"ComboBox",0x50210303,630,132,51,72
  CONTROL "Lock to GPS",IDC_CHKLOCK,"Button",0x50010003,633,96,51,9
  CONTROL "Show Trail",IDC_CHKTRAIL,"Button",0x50010003,633,108,51,9
  CONTROL "",IDC_EDTDIST,"Static",0x50013202,630,213,51,12
  CONTROL "Lattitude:",IDC_STCLAT,"Static",0x50000000,630,150,51,9
  CONTROL "Longitude:",IDC_STCLON,"Static",0x50000000,630,177,51,9
  CONTROL "Distance:",IDC_STCDIST,"Static",0x50000000,630,204,51,9
  CONTROL "Pause Log",IDC_CHKPAUSE,"Button",0x58010003,633,84,51,9
  CONTROL "Show Grid",IDC_CHKGRID,"Button",0x50010003,633,120,51,9
  CONTROL "",IDC_EDTBEAR,"Static",0x50013202,630,237,51,12
  CONTROL "Bearing:",IDC_STCBEAR,"Static",0x50000000,630,228,51,9
  CONTROL "",IDC_SONAR,"SONARCLASS",0x56100000,405,12,222,408,0x00000200
  CONTROL "Chart Pause",IDC_CHKCHART,"Button",0x50010003,630,261,51,9
  CONTROL "",IDC_SHP3,"Static",0x50000010,621,255,66,0
  CONTROL "Land / Sea",IDC_BTNMAP,"Button",0x50010000,633,54,48,15
END

IDM_MENU MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "Open Trip",IDM_FILE_OPENTRIP
    MENUITEM "Save Trip",IDM_FILE_SAVETRIP
    MENUITEM "",,0x00000800
    MENUITEM "Open Distance",IDM_FILE_OPENDIST
    MENUITEM "Save Distance",IDM_FILE_SAVEDIST
    MENUITEM "",,0x00000800
    MENUITEM "Open Trail",IDM_FILE_OPENTRAIL
    MENUITEM "Save Trail",IDM_FILE_SAVETRAIL
    MENUITEM "",,0x00000800
    MENUITEM "E&xit",IDM_FILE_EXIT
  END
  POPUP "&Log"
  BEGIN
    MENUITEM "&Start Trip Logging",IDM_LOG_START
    MENUITEM "&End Trip Logging",IDM_LOG_END
    MENUITEM "&Replay Trip Log",IDM_LOG_REPLAY
    MENUITEM "",,0x00000800
    MENUITEM "Clear Trail",IDM_LOG_CLEARTRAIL
    MENUITEM "",,0x00000800
    MENUITEM "Start Sonar Log",IDM_LOG_STARTSONAR
    MENUITEM "End Sonar Log",IDM_LOG_ENDSONAR
    MENUITEM "Replay Sonar Log",IDM_LOG_REPLAYSONAR
    MENUITEM "",,0x00000800
    MENUITEM "Clear Sonar Screen",IDM_SONARCLEAR
  END
  POPUP "&Options"
  BEGIN
    POPUP "&Map Screen"
    BEGIN
      MENUITEM "&Speed",IDM_OPTION_SPEED
      MENUITEM "&Battery",IDM_OPTION_BATTERY
      MENUITEM "&Temprature",IDM_OPTION_AIRTEMP
      MENUITEM "Ti&me",IDM_OPTION_TIME
      MENUITEM "&Map Scale",IDM_OPTION_SCALE
    END
    POPUP "&Sonar Screen"
    BEGIN
      MENUITEM "&Range",IDM_OPTION_RANGE
      MENUITEM "&Depth",IDM_OPTIO_DEPTH
      MENUITEM "&Temprature",IDM_OPTION_WATERTEMP
    END
    MENUITEM "&Com Port",IDM_OPTION_COMPORT
    MENUITEM "Sonar Setup",IDM_OPTION_SONAR
    MENUITEM "Sonar Gain Setup",IDM_OPTION_GAIN
  END
END

100 BITMAP DISCARDABLE "Res/cur.bmp"
101 CURSOR DISCARDABLE "Res/SplitV.cur"

IDM_CONTEXT MENU
BEGIN
  POPUP "Map"
  BEGIN
    MENUITEM "Edit Place",IDM_EDITPLACE
    MENUITEM "Add Place",IDM_ADDPLACE
    MENUITEM "Trip Planning",IDM_TRIPPLANNING
    MENUITEM "Measure Distance",IDM_DISTANCE
    MENUITEM "Full Screen\tCtrl+W",IDM_FULLSCREEN
  END
  POPUP "Trip"
  BEGIN
    MENUITEM "Trip Done",IDM_TRIP_DONE
    MENUITEM "Save Trip",IDM_TRIP_SAVE
    MENUITEM "Edit Trio",IDM_TRIP_EDIT
    MENUITEM SEPARATOR
    MENUITEM "Clear Trip",IDM_TRIP_CLEAR
  END
  POPUP "Trip Edit"
  BEGIN
    MENUITEM "Insert Trip Point",IDM_TRIP_INSERT
    MENUITEM "Delete Trip Point",IDM_TRIP_DELETE
  END
  POPUP "Distance"
  BEGIN
    MENUITEM "Distance Done",IDM_DIST_DONE
    MENUITEM "Save Distance",IDM_DIST_SAVE
    MENUITEM "Edit Distance",IDM_DIST_EDIT
    MENUITEM SEPARATOR
    MENUITEM "Clear Distance",IDM_DIST_CLEAR
  END
  POPUP "Distance Edit"
  BEGIN
    MENUITEM "Insert Distance Point",IDM_DIST_INSERT
    MENUITEM "Delete Distance Point",IDM_DIST_DELETE
  END
  POPUP "Sonar"
  BEGIN
    MENUITEM "Clear",IDM_SONARCLEAR
    MENUITEM "Pause",IDM_SONARPAUSE
    MENUITEM "Setup",IDM_OPTION_SONAR
  END
END

IDD_DLGADDPLACE DIALOGEX 10,10,150,162
CAPTION "Add / Edit Place"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000009
BEGIN
  CONTROL "Name:",IDC_STATIC,"Static",0x50000000,3,3,57,9
  CONTROL "",IDC_EDTNAME,"Edit",0x50010000,3,12,144,12,0x00000200
  CONTROL "Longitude:",IDC_STATIC,"Static",0x50000000,3,30,42,9
  CONTROL "Lattitude:",IDC_STATIC,"Static",0x50000000,51,30,42,9
  CONTROL "",IDC_EDTLONGITUDE,"Edit",0x50010002,3,39,42,12,0x00000200
  CONTROL "",IDC_EDTLATTITUDE,"Edit",0x50010002,51,39,42,12,0x00000200
  CONTROL "Font:",IDC_STATIC,"Static",0x50000000,3,54,57,9
  CONTROL "",IDC_CBOFONT,"ComboBox",0x50210203,3,66,144,63
  CONTROL "Icon:",IDC_STATIC,"Static",0x50000000,3,84,57,9
  CONTROL "",IDC_CBOICON,"ComboBox",0x50210203,3,96,144,63
  CONTROL "OK",IDOK,"Button",0x50010000,42,144,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,99,144,48,15
  CONTROL "From GPS",IDC_BTNGPS,"Button",0x50010000,99,36,48,15
  CONTROL "",IDC_TRBZOOM,"msctls_trackbar32",0x50000000,3,123,144,18
  CONTROL "Zoom level to plot name:",IDC_STATIC,"Static",0x50000000,9,114,135,9
END

IDD_DLGOPTION DIALOGEX 10,10,150,177
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Show on map screen",IDC_CHKSHOW,"Button",0x50010003,3,3,141,9
  CONTROL "Position",-1,"Button",0x50000007,3,15,144,57
  CONTROL "",IDC_RBNLEFTTOP,"Button",0x50010009,12,30,9,9
  CONTROL "",IDC_RBNCENTERTOP,"Button",0x50010009,70,30,9,9
  CONTROL "",IDC_RBNRIGHTTOP,"Button",0x50010029,129,30,9,9
  CONTROL "",IDC_RBNLEFTBOTTOM,"Button",0x50010009,12,54,9,9
  CONTROL "",IDC_RBNCENTERBOTTOM,"Button",0x50010009,70,54,9,9
  CONTROL "",IDC_RBNRIGHTBOTTOM,"Button",0x50010029,129,54,9,9
  CONTROL "Nudge Position",-1,"Button",0x50000007,3,78,141,51
  CONTROL "",IDC_BTNLEFT,"Button",0x50010040,39,96,15,15
  CONTROL "",IDC_BTNUP,"Button",0x50010040,66,87,15,15
  CONTROL "",IDC_BTNRIGHT,"Button",0x50010040,93,96,15,15
  CONTROL "",IDC_BTNDOWN,"Button",0x50010040,66,108,15,15
  CONTROL "Font:",IDC_STATIC,"Static",0x50000000,3,129,72,9
  CONTROL "",IDC_CBOOVLFONT,"ComboBox",0x50010003,3,141,141,42
  CONTROL "OK",IDOK,"Button",0x50010000,39,159,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,96,159,48,15
END

IDD_DLGTIPLOG DIALOGEX 10,10,150,123
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000009
BEGIN
  CONTROL "",IDC_EDTFILE,"Edit",0x50010000,3,87,144,15,0x00000200
  CONTROL "OK",IDOK,"Button",0x50010000,39,105,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,96,105,48,15
  CONTROL "",IDC_LSTFILES,"ListBox",0x50310143,3,3,144,81,0x00000200
END

IDD_DLGCOMPORT DIALOGEX 10,10,120,108
CAPTION "Com Port Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Com Port Active",IDC_CHKCOMACTIVE,"Button",0x50010003,3,3,111,12
  CONTROL "Port:",IDC_STATIC,"Static",0x50000000,3,21,48,9
  CONTROL "",IDC_EDTCOMPORT,"Edit",0x50010000,3,30,54,15,0x00000200
  CONTROL "Baudrate:",IDC_STATIC,"Static",0x50000000,63,21,48,9
  CONTROL "",IDC_CBOCOMBAUD,"ComboBox",0x50010003,63,30,54,60
  CONTROL "Databits:",IDC_STATIC,"Static",0x50000000,3,48,48,9
  CONTROL "",IDC_CBOCOMBITS,"ComboBox",0x50010003,3,57,54,60
  CONTROL "Stopbits:",IDC_STATIC,"Static",0x50000000,63,48,48,9
  CONTROL "",IDC_CBOCOMSTOP,"ComboBox",0x50010003,63,57,54,60
  CONTROL "Parity check",IDC_CHKCOMPARITY,"Button",0x50010003,3,72,114,12
  CONTROL "OK",IDOK,"Button",0x50010000,9,90,48,15
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,66,90,48,15
END

IDR_ACCEL ACCELERATORS
BEGIN
  87,IDM_FULLSCREEN,VIRTKEY,CONTROL,NOINVERT
  90,IDC_BTNZOOMIN,VIRTKEY,CONTROL,NOINVERT
  90,IDC_BTNZOOMOUT,VIRTKEY,CONTROL,SHIFT,NOINVERT
  39,IDC_BTNZOOMIN,VIRTKEY,CONTROL,NOINVERT
  37,IDC_BTNZOOMOUT,VIRTKEY,CONTROL,NOINVERT
END

IDD_DLGSONAR DIALOGEX 10,10,249,198
CAPTION "Sonar Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Gain:",IDC_STATIC,"Static",0x50000000,3,9,21,9
  CONTROL "4095",IDC_STCGAIN,"Static",0x50000002,30,9,18,9
  CONTROL "",IDC_BTNGD,"Button",0x50010040,51,6,14,15
  CONTROL "",IDC_TRBSONARGAIN,"msctls_trackbar32",0x50000100,66,3,102,18
  CONTROL "",IDC_BTNGU,"Button",0x50010040,168,6,14,15
  CONTROL "Auto Gain",IDC_CHKSONARGAIN,"Button",0x50010003,186,6,60,9
  CONTROL "Ping:",IDC_STATIC,"Static",0x50000000,3,27,21,9
  CONTROL "64",IDC_STCPING,"Static",0x50000002,30,27,18,9
  CONTROL "",IDC_BTNPD,"Button",0x50010040,51,24,14,15
  CONTROL "",IDC_TRBSONARPING,"msctls_trackbar32",0x50000100,66,21,102,18
  CONTROL "",IDC_BTNPU,"Button",0x50010040,168,24,14,15
  CONTROL "Auto Ping",IDC_CHKSONARPING,"Button",0x50010003,186,24,60,9
  CONTROL "Range:",IDC_STATIC,"Static",0x50000000,3,45,45,9
  CONTROL "",IDC_BTNRD,"Button",0x50010040,51,42,14,15
  CONTROL "",IDC_TRBSONARRANGE,"msctls_trackbar32",0x50000100,66,39,102,18
  CONTROL "",IDC_BTNRU,"Button",0x50010040,168,42,14,15
  CONTROL "Auto Range",IDC_CHKSONARRANGE,"Button",0x50010003,186,42,60,9
  CONTROL "Fish Detect:",IDC_STATIC,"Static",0x50000080,3,63,45,9
  CONTROL "",IDC_BTNFD,"Button",0x50010040,51,60,14,15
  CONTROL "",IDC_TRBSONARFISH,"msctls_trackbar32",0x50000100,66,57,102,18
  CONTROL "",IDC_BTNFU,"Button",0x50010040,168,60,14,15
  CONTROL "Fish Alarm",IDC_CHKSONARALARM,"Button",0x50010003,186,60,51,9
  CONTROL "Chart Speed:",IDC_STATIC,"Static",0x50000000,3,81,45,9
  CONTROL "",IDC_BTNCD,"Button",0x50010040,51,78,14,15
  CONTROL "",IDC_TRBSONARCHART,"msctls_trackbar32",0x50000100,66,75,102,18
  CONTROL "",IDC_BTNCU,"Button",0x50010040,168,78,14,15
  CONTROL "Chart Pause",IDC_CHKCHARTPAUSE,"Button",0x50010003,186,78,51,9
  CONTROL "",IDC_SHP2,"Static",0x50000010,0,96,252,0
  CONTROL "Noise Level:",IDC_STATIC,"Static",0x50000080,3,105,45,9
  CONTROL "",IDC_BTNND,"Button",0x50010040,51,102,14,15
  CONTROL "",IDC_TRBSONARNOISE,"msctls_trackbar32",0x50000100,66,99,102,18
  CONTROL "",IDC_BTNNU,"Button",0x50010040,168,102,14,15
  CONTROL "Noise Reject:",IDC_STATIC,"Static",0x50000080,3,123,45,9
  CONTROL "",IDC_BTNNRD,"Button",0x50010040,51,120,14,15
  CONTROL "",IDC_TRBSONARREJECT,"msctls_trackbar32",0x50000100,66,117,102,18
  CONTROL "",IDC_BTNNRU,"Button",0x50010040,168,120,14,15
  CONTROL "Sound Speed:",IDC_STATIC,"Static",0x50000000,3,141,45,9
  CONTROL "",IDC_BTNSSD,"Button",0x50010040,51,138,14,15
  CONTROL "",IDC_TRBSOUNDSPEED,"msctls_trackbar32",0x50000100,66,135,102,18
  CONTROL "",IDC_BTNSSU,"Button",0x50010040,168,138,14,15
  CONTROL "Ping Timer:",IDC_STATIC,"Static",0x50000000,3,159,45,9
  CONTROL "",IDC_BTNPTD,"Button",0x50010040,51,156,14,15
  CONTROL "",IDC_TRBPINGTIMER,"msctls_trackbar32",0x50000100,66,153,102,18
  CONTROL "",IDC_BTNPTU,"Button",0x50010040,168,156,14,15
  CONTROL "",IDC_SHP1,"Static",0x50000010,0,174,252,3
  CONTROL "OK",IDOK,"Button",0x50010000,198,180,48,15
END

IDD_DLGSONARGAIN DIALOGEX 10,10,225,291
CAPTION "Sonar Gain Setup"
FONT 8,"MS Sans Serif",0,0,0
STYLE 0x10C80880
EXSTYLE 0x00000001
BEGIN
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,168,273,48,15
  CONTROL "Gain calculation",-1,"Button",0x50000007,3,3,219,54
  CONTROL "Gain Offset:",IDC_STATIC,"Static",0x50000000,15,18,69,9
  CONTROL "",IDC_EDTGAINOFS,"Edit",0x50012001,90,12,51,12,0x00000200
  CONTROL "Max Gain at (meters):",IDC_STATIC,"Static",0x50000000,12,36,69,9
  CONTROL "",IDC_EDTGAINMAX,"Edit",0x50012001,90,33,51,12,0x00000200
  CONTROL "Calculate",IDC_BTNCALCULATE,"Button",0x50010000,165,33,48,15
  CONTROL "Gain levels",-1,"Button",0x50000007,3,57,219,213
  CONTROL "",IDC_BTNYU,"Button",0x50010040,24,72,14,15
  CONTROL "Gain:",IDC_STATIC,"Static",0x50000201,6,129,30,12
  CONTROL "0",IDC_STCY,"Static",0x50000281,6,141,30,12
  CONTROL "",IDC_BTNYD,"Button",0x50010040,24,219,14,15
  CONTROL "",IDC_BTNXD,"Button",0x50010040,39,234,14,15
  CONTROL "Depth:",IDC_STATIC,"Static",0x50000200,93,234,24,12
  CONTROL "0",IDC_STCX,"Static",0x50000281,117,234,33,12
  CONTROL "",IDC_BTNXU,"Button",0x50010040,198,234,14,15
  CONTROL "Range (meters):",IDC_STATIC,"Static",0x50000000,21,255,63,12
  CONTROL "",IDC_CBORANGE,"ComboBox",0x50210203,87,252,123,90
  CONTROL "OK",IDOK,"Button",0x50010000,114,273,48,15
END

